<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>轮播图管理</title>
    <!--markdown编辑器css-->
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.css"/>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" lay-filter="example" id="bannerForm">
        <input type="hidden" name="id" th:value="${banner.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label">图片地址</label>
            <!--<div class="layui-input-block">
                <input type="url" id="url" th:name="url" th:value="${banner.getUrl()}"
                       placeholder="图片地址" lay-verify="required|url" autocomplete="off" class="layui-input">
            </div>-->
            <div class="layui-upload-drag" id="test10" name="file">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="upload" th:if="${mode == 'add'}">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                </div>
                <div class="" id="upload" th:if="${mode != 'add'}">
                    <hr>
                    <img th:src="${banner.getUrl()}" alt="上传成功后渲染" style="max-width: 196px" th:if="${mode != 'add'}">
                </div>
            </div>
            <input type="hidden" id="url" name="url" th:value="${banner.getUrl()}">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">展示位置</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="" lay-filter="isMarket"
                            th:id="type">
                        <option th:value="1" th:text="首页"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">展示状态</label>
                <div class="layui-input-inline"><select name="status" lay-verify="" th:if="${mode == 'add'}" lay-filter="status"
                                                        th:id="status">
                    <option th:value="0" th:text="隐藏"/>
                    <option th:value="1" th:text="展示"/>
                </select>
                    <select name="status" lay-verify=""
                            th:if="${mode != 'add' && banner.getStatus() == null}">
                        <option th:value="0" th:text="隐藏"/>
                        <option th:value="1" th:text="展示"/>
                    </select>
                    <select name="status" lay-verify=""
                            th:if="${mode != 'add' && 0 == banner.getStatus()}">
                        <option th:value="0" th:text="隐藏"/>
                        <option th:value="1" th:text="展示"/>
                    </select>
                    <select name="status" lay-verify=""
                            th:if="${mode != 'add' && 1 == banner.getStatus()}">
                        <option th:value="1" th:text="展示"/>
                        <option th:value="0" th:text="隐藏"/>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入markdownjs-->
<script src="/bobogou/plugins/markdown/js/editormd.js"></script>
<script type="text/javascript" src="/bobogou/modules/data/bannerForm.js"></script>
</body>
</html>