<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>商品分类管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="classifyForm">
        <input type="hidden" name="id" th:value="${classify.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label" for="icon">分类图标</label>
            <div class="layui-upload-drag" id="test10" name="file">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" th:id="upload" th:if="${mode == 'add'}">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                </div>
                <div class="" th:id="upload" th:if="${mode != 'add'}">
                    <hr>
                    <img th:src="${classify.getIcon()}" alt="上传成功后渲染" style="max-width: 196px"
                         th:if="${mode != 'add'}">
                </div>
            </div>
            <input type="hidden" id="icon" name="icon" th:value="${classify.getIcon()}">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="name">分类名称</label>
                <div class="layui-input-inline">
                    <input type="name" name="name" th:value="${classify.getName()}"
                           th:id="name" autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="name">父级分类</label>
                <div class="layui-input-inline">
                    <select name="parentId" lay-verify="" th:with="parent=${@goodsClassify.findToDictUse()}">
                        <option th:value="0" th:text="请选择"/>
                        <option th:each="dict:${parent}" th:value="${dict.getId()}" th:text="${dict.getName()}"
                                th:selected="${dict.getId()}==${classify.getParentId()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="name">级别分类选择</label>
                <div class="layui-input-inline">
                    <select name="level" lay-verify="" th:id="level" lay-filter="level"
                            th:with="level=${@dictData.findByType('data_classify_level')}">
                        <option th:each="dict:${level}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${classify.getLevel()}"/>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/classifyForm.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>