<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>商品规范管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="goodsNormForm">
        <input type="hidden" name="id" th:value="${goodsNorm.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="factoryId">厂商</label>
                <div class="layui-input-inline">
                    <select name="factoryId" lay-verify="" th:if="${goodsNorm.getFactoryId() == null}" lay-filter="factoryId">
                        <option th:value="0" th:text="请选择"/>
                        <option th:each="factory:${factoryList}" th:value="${factory.getId()}"
                                th:text="${factory.getFactoryName()}"/>
                    </select>
                    <select name="factoryId" lay-verify="" th:if="${goodsNorm.getFactoryId() != null}" lay-filter="factoryId">
                        <option th:each="factory:${factoryList}" th:if="${goodsNorm.getFactoryId().toString() == factory.getId()}" th:value="${factory.getId()}"
                                th:text="${factory.getFactoryName()}"/>
                        <option th:each="factory:${factoryList}" th:if="${goodsNorm.getFactoryId().toString() != factory.getId()}" th:value="${factory.getId()}"
                                th:text="${factory.getFactoryName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="goodsName">商品</label>
                <div class="layui-input-inline">
                    <input type="text" th:name="goodsName" th:value="${goodsNorm.getGoodsName()}"
                           th:id="goodsName" autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="prices">物价</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${goodsNorm.getPrices()}"
                           th:id="prices" th:name="prices" autocomplete="off" class="layui-input number">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="sampleBox">样盒图片地址</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">样盒图片地址</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test1">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo1"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo1">
                        <img  th:if="${goodsNorm.getSampleBox() != ''}"  th:each="image:${goodsNorm.getSampleBox().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="sampleBox" name="sampleBox" th:value="${goodsNorm.getSampleBox()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="outerPackingBox">产品外包装盒</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">产品外包装盒</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test2">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo2"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo2">
                        <img  th:if="${goodsNorm.getOuterPackingBox() != ''}"  th:each="image:${goodsNorm.getOuterPackingBox().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="outerPackingBox" name="outerPackingBox" th:value="${goodsNorm.getOuterPackingBox()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="instructionBook">说明书图片</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test3">说明书图片</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test3">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo3"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo3">
                        <img  th:if="${goodsNorm.getInstructionBook() != ''}"  th:each="image:${goodsNorm.getInstructionBook().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="instructionBook" name="instructionBook" th:value="${goodsNorm.getInstructionBook()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="otherData">其他获得药监批准文件</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test4">其他获得药监批准文件</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test4">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo4"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo4">
                        <img  th:if="${goodsNorm.getOtherData() != ''}"  th:each="image:${goodsNorm.getOtherData().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="otherData" name="otherData" th:value="${goodsNorm.getOtherData()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="relatedPictures">其他相关图片</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test5">其他相关图片</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test5">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo5"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo5">
                        <img  th:if="${goodsNorm.getRelatedPictures() != ''}"  th:each="image:${goodsNorm.getRelatedPictures().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="relatedPictures" name="relatedPictures" th:value="${goodsNorm.getRelatedPictures()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="instructions">批件</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test6">批件</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test6">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo6"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo6">
                        <img  th:if="${goodsNorm.getInstructions() != ''}"  th:each="image:${goodsNorm.getInstructions().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="instructions" name="instructions" th:value="${goodsNorm.getInstructions()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="qualityStandard">质量标准</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test7">质量标准</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test7">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo7"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo7">
                        <img  th:if="${goodsNorm.getQualityStandard() != ''}"  th:each="image:${goodsNorm.getQualityStandard().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="qualityStandard" name="qualityStandard" th:value="${goodsNorm.getQualityStandard()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="surveyReport">省检验报告</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test8">省检验报告</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test8">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo8"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo8">
                        <img  th:if="${goodsNorm.getSurveyReport() != ''}"  th:each="image:${goodsNorm.getSurveyReport().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="surveyReport" name="surveyReport" th:value="${goodsNorm.getSurveyReport()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="productionBusinessLicense">生产企业营业执照</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test9">生产企业营业执照</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test9">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo9"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo9">
                        <img  th:if="${goodsNorm.getProductionBusinessLicense() != ''}"  th:each="image:${goodsNorm.getProductionBusinessLicense().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="productionBusinessLicense" name="productionBusinessLicense" th:value="${goodsNorm.getProductionBusinessLicense()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="productionCertificate">生产企业生产许可证</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test10">生产企业生产许可证</button>
                <button type="button" class="layui-btn" id="btn_image_clear_test10">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode == 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo10"></div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;" th:if="${mode != 'add'}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo10">
                        <img  th:if="${goodsNorm.getProductionCertificate() != ''}"  th:each="image:${goodsNorm.getProductionCertificate().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" id="productionCertificate" name="productionCertificate" th:value="${goodsNorm.getProductionCertificate()}">
        </div><!--
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="qualityStandard">质量标准</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${goodsNorm.getQualityStandard()}"
                           th:id="qualityStandard" th:name="qualityStandard" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="surveyReport">省检验报告</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${goodsNorm.getSurveyReport()}"
                           th:id="surveyReport" th:name="surveyReport" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="productionBusinessLicense">生产企业营业执照地址</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${goodsNorm.getProductionBusinessLicense()}"
                           th:id="productionBusinessLicense" th:name="productionBusinessLicense" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="productionCertificate">生产企业生产许可证地址</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${goodsNorm.getProductionCertificate()}"
                           th:id="productionCertificate" th:name="productionCertificate" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>-->
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/goodsNormForm.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>