<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bobogou/utils/vendor.js"></script>
</head>
<body>
<div>
    <form class="layui-form" id="orderForm">
        <input type="hidden" name="id" id="id" th:value="${order.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="number">订单编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" th:value="${order.getNumber()}"
                           th:id="number" autocomplete="off" class="layui-input required" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="grossAmount">总金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="grossAmount" th:value="${order.getGrossAmount()}" autocomplete="off"
                           th:id="grossAmount" class="layui-input number" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="integral">积分</label>
                <div class="layui-input-inline">
                    <input type="text" name="integral" th:value="${order.getIntegral()}"
                           autocomplete="off"
                           th:id="integral" class="layui-input number" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="healthBeans">健康豆</label>
                <div class="layui-input-inline">
                    <input type="text" name="healthBeans" th:value="${order.getHealthBeans()}" autocomplete="off"
                           th:id="healthBeans" class="layui-input number" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="addressId">配送地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="addressId" th:value="${order.getAddressId()}" autocomplete="off"
                           th:id="addressId" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="distributionMode">配送方式</label>
                <div class="layui-input-inline">
                    <select name="distributionMode" lay-verify="" lay-filter="distributionMode"
                            th:if="${order.distributionMode == null}"
                            th:id="distributionMode" disabled="true">
                        <option th:value="1" th:text="顺丰"/>
                        <option th:value="2" th:text="京东"/>
                    </select>
                    <select name="distributionMode" lay-verify="" th:if="${order.distributionMode == 1}"
                            lay-filter="distributionMode"
                            th:id="distributionMode" disabled="true">
                        <option th:value="1" th:text="顺丰"/>
                        <option th:value="2" th:text="京东"/>
                    </select>
                    <select name="distributionMode" lay-verify="" th:if="${order.distributionMode == 2}"
                            lay-filter="distributionMode"
                            th:id="distributionMode" disabled="true">
                        <option th:value="2" th:text="京东"/>
                        <option th:value="1" th:text="顺丰"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="trackingNo">物流单号</label>
                <div class="layui-input-inline">
                    <input type="text" name="trackingNo" th:value="${order.getTrackingNo()}" autocomplete="off"
                           th:id="trackingNo" class="layui-input" th:if="${mode == 'detail'}" readonly>
                    <input type="text" name="trackingNo" th:value="${order.getTrackingNo()}" autocomplete="off"
                           th:id="trackingNo" class="layui-input" th:if="${mode != 'detail'}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="payMode">支付方式</label>
                <div class="layui-input-inline">
                    <select name="payMode" lay-verify="" th:if="${order.payMode == null}" lay-filter="payMode"
                            th:id="payMode" disabled="true">
                        <option th:value="0" th:text="兑换"/>
                        <option th:value="1" th:text="微信"/>
                        <option th:value="2" th:text="支付宝"/>
                        <option th:value="3" th:text="银行卡"/>
                    </select>
                    <select name="payMode" lay-verify="" th:if="${order.payMode == 0}" lay-filter="payMode"
                            th:id="payMode" disabled="true">
                        <option th:value="0" th:text="兑换"/>
                        <option th:value="1" th:text="微信"/>
                        <option th:value="2" th:text="支付宝"/>
                        <option th:value="3" th:text="银行卡"/>
                    </select>
                    <select name="payMode" lay-verify="" th:if="${order.payMode == 1}" lay-filter="payMode"
                            th:id="payMode" disabled="true">
                        <option th:value="1" th:text="微信"/>
                        <option th:value="0" th:text="兑换"/>
                        <option th:value="2" th:text="支付宝"/>
                        <option th:value="3" th:text="银行卡"/>
                    </select>
                    <select name="payMode" lay-verify="" th:if="${order.payMode == 2}" lay-filter="payMode"
                            th:id="payMode" disabled="true">
                        <option th:value="2" th:text="支付宝"/>
                        <option th:value="0" th:text="兑换"/>
                        <option th:value="1" th:text="微信"/>
                        <option th:value="3" th:text="银行卡"/>
                    </select>
                    <select name="payMode" lay-verify="" th:if="${order.payMode == 3}" lay-filter="payMode"
                            th:id="payMode" disabled="true">
                        <option th:value="3" th:text="银行卡"/>
                        <option th:value="0" th:text="兑换"/>
                        <option th:value="1" th:text="微信"/>
                        <option th:value="2" th:text="支付宝"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="type">类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="" th:if="${order.type == null}" lay-filter="type"
                            th:id="type" disabled="true">
                        <option th:value="0" th:text="购买"/>
                        <option th:value="1" th:text="健康豆兑换"/>
                        <option th:value="2" th:text="积分兑换"/>
                    </select>
                    <select name="type" lay-verify="" th:if="${order.type == 0}" lay-filter="type"
                            th:id="type" disabled="true">
                        <option th:value="0" th:text="购买"/>
                        <option th:value="1" th:text="健康豆兑换"/>
                        <option th:value="2" th:text="积分兑换"/>
                    </select>
                    <select name="type" lay-verify="" th:if="${order.type == 1}" lay-filter="type"
                            th:id="type" disabled="true">
                        <option th:value="1" th:text="健康豆兑换"/>
                        <option th:value="0" th:text="购买"/>
                        <option th:value="2" th:text="积分兑换"/>
                    </select>
                    <select name="type" lay-verify="" th:if="${order.type == 2}" lay-filter="type"
                            th:id="type" disabled="true">
                        <option th:value="2" th:text="积分兑换"/>
                        <option th:value="0" th:text="购买"/>
                        <option th:value="1" th:text="健康豆兑换"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="status">状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="" th:if="${order.status == null}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 0}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 1}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 2}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 3}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 4}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="4" th:text="申请退款"/>
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="5" th:text="已退款"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${order.status == 5}" lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="5" th:text="已退款"/>
                        <option th:value="0" th:text="已取消"/>
                        <option th:value="1" th:text="待付款"/>
                        <option th:value="2" th:text="待收货"/>
                        <option th:value="3" th:text="已完成"/>
                        <option th:value="4" th:text="申请退款"/>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" for="outTime">出库时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="outTime" th:value="${order.getOutTime()}" autocomplete="off"
                           class="layui-input" readonly th:if="${mode == 'detail'}">
                    <input type="text" name="outTime" th:value="${order.getOutTime()}" autocomplete="off"
                           th:id="outTime" class="layui-input" readonly th:if="${mode != 'detail'}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label" for="outStatus">出库状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && order.getOutStatus() == null}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && 0==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="0" th:text="备货"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && 1==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="1" th:text="出库"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && 2==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && 3==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode == 'detail' && 4==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status" disabled="true">
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="4" th:text="退货"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && order.getOutStatus() == null}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && 0==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="0" th:text="备货"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && 1==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="1" th:text="出库"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && 2==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && 3==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="3" th:text="已收货"/>
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="4" th:text="退货"/>
                    </select>
                    <select name="status" lay-verify="" th:if="${mode != 'detail' && 4==order.getOutStatus()}"
                            lay-filter="status"
                            th:id="status">
                        <option th:value="-1" th:text="请选择"/>
                        <option th:value="4" th:text="退货"/>
                        <option th:value="0" th:text="备货"/>
                        <option th:value="1" th:text="出库"/>
                        <option th:value="2" th:text="运输中"/>
                        <option th:value="3" th:text="已收货"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="payTime">支付时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="payTime" th:value="${order.getPayTime()}" autocomplete="off"
                            class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="refundReason">退款原因</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="refundReason"
                              th:text="${order.getRefundReason()}" th:id="refundReason"
                              readonly></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" id="orderInfo" th:value="${orderInfo}">
        <div class="layui-form-item">
            <label class="layui-form-label">订单商品：</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <a href="#"
                   onclick="addRow('#orderInfoList', orderInfoRowIdx, orderInfoTpl);orderInfoRowIdx = orderInfoRowIdx + 1;"><i
                        class="layui-icon layui-icon-addition"></i>新建</a>
            </label>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>购买数量</th>
                <th>商品单价</th>
                <th>总价</th>
                <th>类型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="orderInfoList">
            </tbody>
            <script type="text/template" id="orderInfoTpl">//<!--
				<tr id="orderInfoList{{idx}}">
					<td class="layui-hide">
						<input id="orderInfoList{{idx}}_id" name="orderInfoList[{{idx}}].id" type="hidden" value="{{row.id}}"/>
					</td>

                    <td>
						<input id="orderInfoList[{{idx}}].goodsId" type="text" value="{{row.goodsName}}"    class="layui-input" onclick="selectGoods('orderInfoList[{{idx}}].goodsId')" readonly/>
						<input name="orderInfoList[{{idx}}].goodsId" type="hidden" value="{{row.goodsId}}"/>
					</td>

                    <td>
						<input id="orderInfoList{{idx}}_specification" name="orderInfoList[{{idx}}].specification" type="text" value="{{row.specification}}"    class="layui-input"/>
					</td>

					<td>
						<input id="orderInfoList{{idx}}_amount" name="orderInfoList[{{idx}}].amount" type="text" value="{{row.amount}}"    class="layui-input"/>
					</td>

					<td>
						<input id="orderInfoList{{idx}}_price" name="orderInfoList[{{idx}}].price" type="text" value="{{row.price}}"    class="layui-input"/>
					</td>

					<td>
						<input id="orderInfoList{{idx}}_totalPrice" name="orderInfoList[{{idx}}].totalPrice" type="text" value="{{row.totalPrice}}"    class="layui-input"/>
					</td>

                    <td>
						<input id="orderInfoList{{idx}}_type" name="orderInfoList[{{idx}}].type" type="text" value="{{row.type}}"    class="layui-input"/>
					</td>

                    <td>
						<input id="orderInfoList{{idx}}_status" name="orderInfoList[{{idx}}].status" type="text" value="{{row.status}}"    class="layui-input"/>
					</td>

					<td class="text-center" width="10">
						{{#delBtn}}<span class="close" onclick="delRow(this, '#orderInfoList{{idx}}')" title="删除">&times;</span>{{/delBtn}}
					</td>
				</tr>//-->
            </script>
            <script type="text/javascript">
                var orderInfoRowIdx = 0,
                    orderInfoTpl = $("#orderInfoTpl").html().replace(/(\/\/\<!\-\-)|(\/\/\-\->)/g, "");
                $(document).ready(function () {
                    let orderId = $("#id").val();
                    $.ajax({
                        type: "get",
                        enctype: 'multipart/form-data',
                        url: '/bobogou/data/order/orderInfoList?orderId=' + orderId,
                        processData: false, //prevent jQuery from automatically transforming the data into a query string
                        contentType: false,
                        success: function (result) {
                            let value = result;
                            if (value != null && value != '') {
                                for (var i = 0; i < value.length; i++) {
                                    addRow('#orderInfoList', orderInfoRowIdx, orderInfoTpl, value[i]);
                                    orderInfoRowIdx = orderInfoRowIdx + 1;
                                }
                            }
                        },
                    });
                });
            </script>
        </table>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/orderForm.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/utils/formVerification.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>