<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bobogou/utils/vendor.js"></script>
</head>
<body>
<div>
    <form class="layui-form" id="orderFactoryForm">
        <input type="hidden" name="id" id="id" th:value="${orderFactory.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="orderId">订单编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderNumber" th:value="${orderFactory.getOrderNumber()}"
                           th:id="orderNumber" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="factoryName">发货单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="factoryName" th:value="${orderFactory.getFactoryName()}"
                           th:id="factoryName" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="province">省</label>
                <div class="layui-input-inline">
                    <input type="text" name="province" th:value="${orderFactory.getProvince()}"
                           th:id="province" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="city">市</label>
                <div class="layui-input-inline">
                    <input type="text" name="city" th:value="${orderFactory.getCity()}"
                           th:id="city" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="area">区</label>
                <div class="layui-input-inline">
                    <input type="text" name="area" th:value="${orderFactory.getArea()}"
                           th:id="area" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="street">街道</label>
                <div class="layui-input-inline">
                    <input type="text" name="street" th:value="${orderFactory.getStreet()}"
                           th:id="street" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="detailAddress">详细地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="detailAddress" th:value="${orderFactory.getDetailAddress()}"
                           th:id="detailAddress" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="receivingAddress">收货地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="receivingAddress" th:value="${orderFactory.getReceivingAddress()}"
                           th:id="receivingAddress" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="totalWeight">总重量(g)</label>
                <div class="layui-input-inline">
                    <input type="text" name="totalWeight" th:value="${orderFactory.getTotalWeight()}"
                           th:id="totalWeight" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="freightWeight">付费重量(g)</label>
                <div class="layui-input-inline">
                    <input type="text" name="freightWeight" th:value="${orderFactory.getFreightWeight()}"
                           th:id="freightWeight" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="freight">运费</label>
                <div class="layui-input-inline">
                    <input type="text" name="freight" th:value="${orderFactory.getFreight()}"
                           th:id="freight" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="distributionMode">配送方式</label>
                <div class="layui-input-inline">
                    <select name="distributionMode" lay-verify="" lay-filter="distributionMode"
                            th:id="distributionMode" th:if="${mode != 'detail'}" th:with="distributionMode=${@dictData.findByType('data_order_factory_distribution_mode')}">
                        <option th:each="dict:${distributionMode}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${orderFactory.getDistributionMode()}"/>
                    </select>
                    <select name="distributionMode" lay-verify="" lay-filter="distributionMode" th:if="${mode == 'detail'}" disabled th:with="distributionMode=${@dictData.findByType('data_order_factory_distribution_mode')}">
                        <option th:each="dict:${distributionMode}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${orderFactory.getDistributionMode()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="trackingNo">物流单号</label>
                <div class="layui-input-inline">
                    <input type="text" name="trackingNo" th:value="${orderFactory.getTrackingNo()}"
                           th:id="trackingNo" autocomplete="off" class="layui-input" th:if="${mode != 'detail'}">
                    <input type="text" name="trackingNo" th:value="${orderFactory.getTrackingNo()}"
                           autocomplete="off" class="layui-input" readonly th:if="${mode == 'detail'}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="outStatus">出库状态</label>
                <div class="layui-input-inline">
                    <select name="outStatus" lay-verify="" lay-filter="outStatus"
                            th:id="outStatus" th:if="${mode != 'detail'}" th:with="outStatus=${@dictData.findByType('data_order_factory_out_status')}">
                        <option th:each="dict:${outStatus}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${orderFactory.getOutStatus()}"/>
                    </select>
                    <select name="outStatus" lay-verify="" lay-filter="outStatus" disabled th:if="${mode == 'detail'}" th:with="outStatus=${@dictData.findByType('data_order_factory_out_status')}">
                        <option value="-1">请选择</option>
                        <option th:each="dict:${outStatus}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${orderFactory.getOutStatus()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="deliveryTime">确认发货时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="deliveryTime" th:value="${#dates.format(orderFactory.getDeliveryTime,'yyyy-MM-dd HH:mm:ss')}"
                           th:id="deliveryTime" autocomplete="off" class="layui-input" readonly th:if="${mode != 'detail'}">
                    <!--<input type="text" name="deliveryTime" th:value="${#dates.format(orderFactory.getDeliveryTime,'yyyy-MM-dd HH:mm:ss')}"
                           th:id="deliveryTimeShow" autocomplete="off" class="layui-input required" readonly th:if="${mode != 'detail'}">-->
                    <input type="text" name="deliveryTime" th:value="${#dates.format(orderFactory.getDeliveryTime,'yyyy-MM-dd HH:mm:ss')}"
                           autocomplete="off" class="layui-input required" readonly th:if="${mode == 'detail'}">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/orderFactoryForm.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/utils/formVerification.js"></script>
</body>
</html>