<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>省级信息管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="provinceForm">
        <input type="hidden" name="id" th:value="${province.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">省级代码</label>
                <div class="layui-input-inline">
                    <input type="text" name="code" th:value="${province.getCode()}"
                           th:id="code" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">省名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" th:value="${province.getName()}" autocomplete="off"
                           th:id="name" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">简称</label>
                <div class="layui-input-inline">
                    <input type="text" name="shortName" th:value="${province.getShortName()}" autocomplete="off"
                           th:id="shortName" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">经度</label>
                <div class="layui-input-inline">
                    <input type="text" name="lng" th:value="${province.getLng()}" autocomplete="off"
                           th:id="lng" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">纬度</label>
                <div class="layui-input-inline">
                    <input type="text" name="lat" th:value="${province.getLat()}" autocomplete="off"
                           th:id="lat" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sort" th:value="${province.getSort()}" autocomplete="off"
                           th:id="sort" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="remarks" th:value="${province.getRemarks()}" autocomplete="off"
                           th:id="remarks" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" th:if="${mode == 'add'}">
                    <input type="radio" name="status" value="1" title="正常" lay-filter="status">
                    <input type="radio" name="status" value="0" title="停用" lay-filter="status">
                    <input type="hidden" name="status" th:id="status">
                </div>
                <div class="layui-input-inline" th:if="${mode != 'add' && province.getStatus() == 0}">
                    <input type="radio" name="status" value="1" title="正常" lay-filter="status">
                    <input type="radio" name="status" value="0" checked="" title="停用" lay-filter="status">
                    <input type="hidden" name="status" th:id="status">
                </div>
                <div class="layui-input-inline" th:if="${mode != 'add' && province.getStatus() == 1}">
                    <input type="radio" name="status" value="1" checked="" title="正常" lay-filter="status">
                    <input type="radio" name="status" value="0" title="停用" lay-filter="status">
                    <input type="hidden" name="status" th:id="status">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">租户ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="tenantCode" th:value="${province.getTenantCode()}" autocomplete="off"
                           th:id="tenantCode" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/provinceForm.js"></script>
</body>
</html>