<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>地域商品管理列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/bobogou/plugins/layui/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">省</label>
                            <div class="layui-input-inline">
                                <input type="text" name="provinceId" th:value="${regionGoods.getProvinceId()}"
                                       th:id="provinceId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">市</label>
                            <div class="layui-input-inline">
                                <input type="text" name="cityId" th:value="${regionGoods.getCityId()}"
                                       autocomplete="off"
                                       th:id="cityId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">区</label>
                            <div class="layui-input-inline">
                                <input type="text" name="districtId" th:value="${regionGoods.getDistrictId()}"
                                       autocomplete="off"
                                       th:id="districtId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">街道</label>
                            <div class="layui-input-inline">
                                <input type="text" name="streetId" th:value="${regionGoods.getStreetId()}"
                                       autocomplete="off"
                                       th:id="streetId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品</label>
                            <div class="layui-input-inline">
                                <input type="text" name="goodsId" th:value="${regionGoods.getGoodsId()}"
                                       autocomplete="off"
                                       th:id="goodsId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否销售</label>
                            <div class="layui-input-inline">
                                <select name="isMarket" lay-verify="" lay-filter="isMarket"
                                        th:id="isMarket">
                                    <option th:value="''" th:text="请选择"/>
                                    <option th:value="0" th:text="是"/>
                                    <option th:value="1" th:text="否"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新建</button>
            </div>
        </script>

        <table class="layui-hide" id="regionGoodsTable" lay-filter="regionGoodsTableFilter"></table>

        <script type="text/html" id="operation">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/regionGoods.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
</body>
</html>