<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>地域商品管理列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/bobogou/plugins/layui/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend></legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">省</label>
                            <div class="layui-input-inline">
                                <select name="provinceId" lay-verify="" lay-filter="province"
                                        th:id="provinceId">
                                    <option th:text="请选择" value=""/>
                                    <option th:each="province:${provinceList}" th:value="${province.getId()}"
                                            th:text="${province.getName()}"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">市</label>
                            <div class="layui-input-inline">
                                <select name="cityId" lay-verify="" lay-filter="city" th:id="cityId">
                                    <option th:if="${regionGoods.getCity() != null}" th:value="${regionGoods.getCityId()}"
                                            th:text="${regionGoods.getCity().getName()}"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">区</label>
                            <div class="layui-input-inline">
                                <select name="districtId" lay-verify="" lay-filter="area" th:id="districtId">
                                    <option th:if="${regionGoods.getArea() != null}" th:value="${regionGoods.districtId}"
                                            th:text="${regionGoods.getArea().getName()}"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">街道</label>
                            <div class="layui-input-inline">
                                <select name="streetId" lay-verify="" th:id="streetId" lay-filter="streetId">
                                    <option th:if="${regionGoods.getStreet() != null}" th:value="${regionGoods.getStreetId()}"
                                            th:text="${regionGoods.getStreet().getName()}"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品</label>
                            <div class="layui-input-inline" onclick="selectGoods('goodsId')">
                                <input type="text" th:value="${regionGoods.getGoodsId()}"
                                       autocomplete="off"
                                       th:id="goodsId" class="layui-input" readonly="readonly" >
                                <input type="hidden" name="goodsId" id="goods">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否销售</label>
                            <div class="layui-input-inline">
                                <select name="isMarket" lay-verify="" lay-filter="isMarket"
                                        th:id="isMarket">
                                    <option th:value="null" th:text="请选择"/>
                                    <option th:value="0" th:text="是"/>
                                    <option th:value="1" th:text="否"/>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-reset-btn"><i class="layui-icon"></i> 重 置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新建</button>
            </div>
        </script>

        <table class="layui-hide" id="regionGoodsTable" lay-filter="regionGoodsTableFilter"></table>

        <script type="text/html" id="operation">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">商品分配</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/regionGoods.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
</body>
</html>