<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>地域商品管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="regionGoodsForm">
        <input type="hidden" name="id" th:value="${regionGoods.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">省</label>
                <div class="layui-input-inline">
                    <select name="provinceId" lay-verify="" th:if="${mode == 'add'}" lay-filter="province"
                            th:id="province">
                        <option th:text="请选择"/>
                        <option th:each="province:${provinceList}" th:value="${province.getId()}"
                                th:text="${province.getName()}"/>
                    </select>
                    <select name="provinceId" lay-verify="" th:if="${mode != 'add'}">
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() == regionGoods.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() != regionGoods.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">市</label>
                <div class="layui-input-inline">
                    <select name="cityId" lay-verify="" lay-filter="city" th:id="city">
                        <option th:if="${regionGoods.getCity() != null}" th:value="${regionGoods.getCityId()}" th:text="${regionGoods.getCity().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">区</label>
                <div class="layui-input-inline">
                    <select name="districtId" lay-verify="" lay-filter="area" th:id="area">
                        <option th:if="${regionGoods.getArea() != null}" th:value="${regionGoods.districtId}" th:text="${regionGoods.getArea().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">街道</label>
                <div class="layui-input-inline">
                    <select name="streetId" lay-verify="" th:id="street" lay-filter="street">
                        <option th:if="${regionGoods.getStreet() != null}" th:value="${regionGoods.getStreetId()}" th:text="${regionGoods.getStreet().getName()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商品</label>
                <div class="layui-input-inline" id="goods">
                    <select name="goodsId" lay-verify="" th:if="${mode == 'add'}">
                        <option th:if="${regionGoods.getMedicine() != null}" th:value="${regionGoods.getMedicine().getId()}"
                                th:text="${regionGoods.getMedicine().getName()}"/>
                    </select>
                    <select name="goodsId" lay-verify="" th:if="${mode != 'add'}">
                        <option th:if="${regionGoods.getMedicine() != null}" th:value="${regionGoods.getMedicine().getId()}"
                                th:text="${regionGoods.getMedicine().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="amount" th:value="${regionGoods.getAmount()}" autocomplete="off"
                           th:id="amount" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">销量</label>
                <div class="layui-input-inline">
                    <input type="text" name="salesVolume" th:value="${regionGoods.getSalesVolume()}" autocomplete="off"
                           th:id="salesVolume" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">是否销售</label>
                    <div class="layui-inline">
                        <select name="isMarket" lay-verify="" th:if="${mode == 'add'}" lay-filter="isMarket"
                                th:id="isMarket">
                            <option th:value="0" th:text="是"/>
                            <option th:value="1" th:text="否"/>
                        </select>
                        <select name="isMarket" lay-verify="" th:if="${mode != 'add' && '0' == regionGoods.getIsMarket()}">
                            <option th:value="0" th:text="是"/>
                            <option th:value="1" th:text="否"/>
                        </select>
                        <select name="isMarket" lay-verify="" th:if="${mode != 'add' && '1' == regionGoods.getIsMarket()}">
                            <option th:value="1" th:text="否"/>
                            <option th:value="0" th:text="是"/>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/regionGoodsForm.js"></script>
</body>
</html>