<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>地域商品管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bobogou/utils/vendor.js"></script>
</head>
<body>
<div>
    <form class="layui-form" id="regionGoodsForm">
        <input type="hidden" name="id" id="id" th:value="${regionGoods.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="" lay-filter="type"
                            th:id="type">
                        <option th:each="type:${typeList}" th:value="${type.getValue()}" th:text="${type.getName()}"
                                th:selected="${type.getValue()}==${regionGoods.getType()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="province">省</label>
                <div class="layui-input-inline">
                    <select name="provinceId" lay-verify="" th:if="${mode == 'add'}" lay-filter="province"
                            th:id="province">
                        <option th:text="请选择"/>
                        <option th:each="province:${provinceList}" th:value="${province.getId()}"
                                th:text="${province.getName()}"/>
                    </select>
                    <select name="provinceId" lay-verify="" th:if="${mode != 'add'}" lay-filter="province"
                            th:id="province">
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() == regionGoods.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() != regionGoods.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">市</label>
                <div class="layui-input-inline">
                    <select name="cityId" lay-verify="" lay-filter="city" th:id="city" disabled>
                        <option th:if="${regionGoods.getCity() != null}" th:value="${regionGoods.getCityId()}"
                                th:text="${regionGoods.getCity().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">区</label>
                <div class="layui-input-inline">
                    <select name="districtId" lay-verify="" lay-filter="area" th:id="area" disabled>
                        <option th:if="${regionGoods.getArea() != null}" th:value="${regionGoods.districtId}"
                                th:text="${regionGoods.getArea().getName()}"/>
                    </select>
                </div>
            </div><!--
            <div class="layui-inline">
                <label class="layui-form-label">街道</label>
                <div class="layui-input-inline">
                    <textarea th:id="streetId" th:text="${regionGoods.getStreetName()}"
                              placeholder="街道" class="layui-textarea required" onclick="selectStreet('streetId')" readonly></textarea>
                    <input type="hidden" th:name="streetId" th:value="${regionGoods.getStreetId()}" autocomplete="off" class="layui-input required" readonly>
                </div>
            </div>-->
            <div class="layui-inline">
                <label class="layui-form-label">街道</label>
                <div class="layui-input-inline">
                    <select name="streetId" lay-verify="" lay-filter="street" th:id="street" disabled>
                        <option th:if="${regionGoods.getStreet() != null}" th:value="${regionGoods.getStreetId()}"
                                th:text="${regionGoods.getStreet().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品</label>
                <div class="layui-input-inline">
                    <input type="text" th:id="goodsId" th:value="${regionGoods.getGoodsName()}"
                           placeholder="商品" autocomplete="off" class="layui-input required" onclick="selectGoods('goodsId')" readonly>
                    <input type="hidden" th:name="goodsId" th:value="${regionGoods.getGoodsId()}" autocomplete="off" class="layui-input required" readonly>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/data/regionGoodsForm.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>