<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.basic.FactoryMapper">
    <sql id="factoryColumns">
        a.id AS "id",
        a.factory_type AS "factoryType",
        a.product_type AS "productType",
        a.factory_name AS "factoryName",
        a.linkman AS "linkman",
        a.phone AS "phone",
        a.id_number AS "idNumber",
        a.province_id AS "provinceId",
        a.city_id AS "cityId",
        a.area_id AS "areaId",
        a.street_id AS "streetId",
        a.detail_address AS "detailAddress",
        a.card_front AS "cardFront",
        a.card_back AS "cardBack",
        a.address AS "address",
        a.business_license AS "businessLicense",
        a.annual_report AS "annualReport",
        a.business_permit AS "businessPermit",
        a.basic_account AS "basicAccount",
        a.billing_information AS "billingInformation",
        a.sample_invoice_ticket AS "sampleInvoiceTicket",
        a.quality_guarantee AS "qualityGuarantee",
        a.seal_impression AS "sealImpression",
        a.power_attorney AS "powerAttorney",
        a.Invoice_counterparts AS "invoiceCounterparts",
        a.bailor_card AS "bailorCard",
        a.mandatary_card AS "mandataryCard",
        a.take_delivery_bailment AS "takeDeliveryBailment",
        a.food_business_license AS "foodBusinessLicense",
        a.is_bailor AS "isBailor",
        a.effective_date AS "effectiveDate",
        a.is_deleted AS "isDeleted",
        a.create_time AS "createTime",
        a.update_time AS "updateTime",
        a.operator_id AS "operatorId"
    </sql>

    <sql id="factoryJoins">
        LEFT JOIN system_operator b ON a.operator_id = b.id
        LEFT JOIN system_operator_role c ON b.id = c.operator_id
        LEFT JOIN system_role d ON c.role_id = d.id
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.basic.Factory">
        SELECT
        <include refid="factoryColumns"/>
        FROM md_factory a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.basic.Factory">
        SELECT
        <include refid="factoryColumns"/>
        FROM md_factory a
        <include refid="factoryJoins" />
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="factoryName != null and factoryName != ''">
                AND a.factory_name LIKE concat('%',#{factoryName},'%')
            </if>
            <if test="factoryType != null and factoryType != ''">
                AND a.factory_type = #{factoryType}
            </if>
            <if test='currentUser.id != "1"'><!--如果当前登录用户不是超级管理员，则按照后台系统对登陆用户设置的区域来进行查询-->
                <if test="provinceId != null and provinceId != '' and provinceId != 0">
                    AND a .province_id = #{provinceId}
                </if>
                <if test="cityId != null and cityId != ''  and cityId != 0 ">
                    AND a.city_id = #{cityId}
                </if>
                <if test="areaId != null and areaId != '' and areaId != 0">
                    AND a.area_id = #{areaId}
                </if>
                <if test="streetId != null and streetId != '' and streetId != 0">
                    AND a.street_id = #{streetId}
                </if>
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!--查询资质过期列表-->
    <select id="findListExpire" resultType="com.littlebuddha.bobogou.modules.entity.basic.Factory">
        SELECT
        <include refid="factoryColumns"/>
        FROM md_factory a
        <include refid="factoryJoins" />
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            AND a.effective_date BETWEEN a.create_time AND now()
            <!-- 判断条件参数是否为空 -->
            <if test="factoryName != null and factoryName != ''">
                AND a.factory_name LIKE concat('%',#{factoryName},'%')
            </if>
            <if test="factoryType != null and factoryType != ''">
                AND a.factory_type = #{factoryType}
            </if>
            <if test='currentUser.id != "1"'><!--如果当前登录用户不是超级管理员，则按照后台系统对登陆用户设置的区域来进行查询-->
                <if test="provinceId != null and provinceId != '' and provinceId != 0">
                    AND a .province_id = #{provinceId}
                </if>
                <if test="cityId != null and cityId != ''  and cityId != 0 ">
                    AND a.city_id = #{cityId}
                </if>
                <if test="areaId != null and areaId != '' and areaId != 0">
                    AND a.area_id = #{areaId}
                </if>
                <if test="streetId != null and streetId != '' and streetId != 0">
                    AND a.street_id = #{streetId}
                </if>
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!--正常新增没有关联，首次创建-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO md_factory(
            factory_type,
            product_type,
            factory_name,
            linkman,
            phone,
            id_number,
            province_id,
            city_id,
            area_id,
            street_id,
            detail_address,
            card_front,
            card_back,
            address,
            business_license,
            annual_report,
            business_permit,
            basic_account,
            billing_information,
            sample_invoice_ticket,
            quality_guarantee,
            seal_impression,
            power_attorney,
            Invoice_counterparts,
            bailor_card,
            mandatary_card,
            take_delivery_bailment,
            food_business_license,
            is_bailor,
            effective_date,
            is_deleted,
            create_time,
            update_time,
            operator_id
        )VALUES (
            #{factoryType},
            #{productType},
            #{factoryName},
            #{linkman},
            #{phone},
            #{idNumber},
            #{provinceId},
            #{cityId},
            #{areaId},
            #{streetId},
            #{detailAddress},
            #{cardFront},
            #{cardBack},
            #{address},
            #{businessLicense},
            #{annualReport},
            #{businessPermit},
            #{basicAccount},
            #{billingInformation},
            #{sampleInvoiceTicket},
            #{qualityGuarantee},
            #{sealImpression},
            #{powerAttorney},
            #{invoiceCounterparts},
            #{bailorCard},
            #{mandataryCard},
            #{takeDeliveryBailment},
            #{foodBusinessLicense},
            #{isBailor},
            #{effectiveDate},
            #{isDeleted},
            #{createTime},
            #{updateTime},
            #{operatorId}
        )
    </insert>

    <update id="update">
        UPDATE md_factory SET
            factory_type = #{factoryType},
            product_type = #{productType},
            factory_name = #{factoryName},
            linkman = #{linkman},
            phone = #{phone},
            id_number = #{idNumber},
            province_id = #{provinceId},
            city_id = #{cityId},
            area_id = #{areaId},
            street_id = #{streetId},
            detail_address = #{detailAddress},
            card_front = #{cardFront},
            card_back = #{cardBack},
            address = #{address},
            business_license = #{businessLicense},
            annual_report = #{annualReport},
            business_permit = #{businessPermit},
            basic_account = #{basicAccount},
            billing_information = #{billingInformation},
            sample_invoice_ticket = #{sampleInvoiceTicket},
            quality_guarantee = #{qualityGuarantee},
            seal_impression = #{sealImpression},
            power_attorney = #{powerAttorney},
            Invoice_counterparts = #{invoiceCounterparts},
            bailor_card = #{bailorCard},
            mandatary_card = #{mandataryCard},
            take_delivery_bailment = #{takeDeliveryBailment},
            food_business_license = #{foodBusinessLicense},
            is_bailor = #{isBailor},
            effective_date = #{effectiveDate},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
            operator_id = #{operatorId}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE md_factory SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE md_factory SET is_deleted = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM md_factory
        WHERE id=#{id}
    </delete>
</mapper>