<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.basic.RoyaltyRecordMapper">
    <sql id="royaltyRecordColumns">
        a.id AS "id",
        a.user_id AS "userId",
        b.nickname AS "userName",
        a.order_id AS "orderId",
        a.title AS "title",
        a.money AS "money",
        a.atio AS "atio",
        a.type AS "type",
        a.order_number AS "orderNumber",
        a.status AS "status",
        a.state AS "state",
        a.successful_time AS "successfulTime",
        a.is_deleted AS "isDeleted",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>

    <sql id="royaltyRecordJoins">
        LEFT JOIN ud_user b ON a.user_id = b.id
        LEFT JOIN system_operator_region c ON b.id = c.user_id
    </sql>
    
    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.basic.RoyaltyRecord">
        SELECT
        <include refid="royaltyRecordColumns"/>
        FROM ud_royalty_record a
        <include refid="royaltyRecordJoins"/>
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.basic.RoyaltyRecord">
        SELECT
        <include refid="royaltyRecordColumns"/>
        FROM ud_royalty_record a
        <include refid="royaltyRecordJoins"/>
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test='currentUser.id != "1"'><!--如果当前登录用户不是超级管理员，则按照后台系统对登陆用户设置的区域来进行查询-->
                <if test="provinceId != null and provinceId != '' and provinceId != 0">
                    AND c.province_id = #{provinceId}
                </if>
                <if test="cityId != null and cityId != ''  and cityId != 0 ">
                    AND c.city_id = #{cityId}
                </if>
                <if test="areaId != null and areaId != '' and areaId != 0">
                    AND c.area_id = #{areaId}
                </if>
                <if test="streetId != null and streetId != '' and streetId != 0">
                    AND c.street_id = #{streetId}
                </if>
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.bobogou.modules.entity.basic.RoyaltyRecord">
        SELECT
        <include refid="royaltyRecordColumns"/>
        FROM ud_royalty_record a
        <include refid="royaltyRecordJoins"/>
        <where>
            a.is_deleted = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <!--<if test="brandName != null and brandName != ''">
                AND a.brand_name LIKE concat('%',#{brandName},'%')
            </if>
            <if test="classifyName != null and classifyName != ''">
                AND a.classify_name LIKE concat('%',#{classifyName},'%')
            </if>-->
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!--正常新增没有关联，首次创建-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ud_royalty_record(
            user_id,
            order_id,
            title,
            money,
            atio,
            type,
            order_number,
            status,
            state,
            successful_time,
            is_deleted,
            create_time,
            update_time
        )VALUES (
            #{userId},
            #{orderId},
            #{title},
            #{money},
            #{atio},
            #{type},
            #{orderNumber},
            #{status},
            #{state},
            #{successfulTime},
            #{isDeleted},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE ud_royalty_record SET
            user_id = #{userId},
            order_id = #{orderId},
            title = #{title},
            money = #{money},
            atio = #{atio},
            type = #{type},
            order_number = #{orderNumber},
            status = #{status},
            state = #{state},
            successful_time = #{successfulTime},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE ud_royalty_record SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE ud_royalty_record SET is_deleted = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM ud_royalty_record
        WHERE id=#{id}
    </delete>
</mapper>