<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.system.OperatorMapper">
    <sql id="operatorColumns">
        id AS "id",
        login_name AS "loginName",
        nickname AS "nickname",
        password AS "password",
        salt AS "salt",
        picture AS "picture",
        phone AS "phone",
        sex AS "sex",
        message_status AS "messageStatus",
        department AS "department",
        work_number AS "workNumber",
        login_flag AS "loginFlag",
        login_ip AS "loginIp",
        login_address AS "loginAddress",
        province_id AS "provinceId",
        city_id AS "cityId",
        area_id AS "areaId",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        del_flag AS "delFlag",
        remarks AS "remarks"
    </sql>

    <sql id="operatorJoins">
        LEFT JOIN recruit_operator_role b ON a.id=b.operator_id
        LEFT JOIN recruit_system_role c ON b.role_id=c.id
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        WHERE id=#{id}
    </select>

    <select id="getOperatorByName" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        WHERE a.login_name=#{loginName}
    </select>

    <!--根据用户和角色查询是否有operator-role数据-->
    <select id="getOperatorRole" resultType="com.littlebuddha.bobogou.modules.entity.system.OperatorRole">
        SELECT
        id AS "id",
        operator_id AS "operator.id",
        role_id AS "role.id"
        FROM recruit_operator_role a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="operator != null and operator.id != null and operator.id != ''">
                and a.operator_id = #{operator.id}
            </if>
            <if test="role != null and role.id != null and role.id != ''">
                and a.role_id = #{role.id}
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test='currentUser.id != "1"'><!--如果当前登录用户不是超级管理员，则不显示超级管理员-->
                AND a.id != "1"
            </if>
            <if test="loginName != null and loginName != ''">
                AND a.login_name LIKE concat('%',#{loginName},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND a.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="sex != null">
                AND a.sex = #{sex}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                /*ORDER BY ${orderBy}*/
            </when>
            <otherwise>
                /*ORDER BY a.create_date DESC*/
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.del_flag = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <if test="username != null and username != ''">
                and a.username = #{username}
            </if>
            <if test="sex != null and sex != ''">
                and a.sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                and a.age = #{age}
            </if>
            <if test="address != null and address != ''">
                and a.address = #{address}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO system_operator(
            id,
            login_name,
            nickname,
            password,
            salt,
            picture,
            phone,
            sex,
            message_status,
            department,
            work_number,
            login_flag,
            login_ip,
            login_address,
            province_id,
            city_id,
            area_id,
            create_by,
            create_date,
            update_by,
            update_date,
            del_flag,
            remarks
        )VALUES (
            #{id},
            #{loginName},
            #{nickname},
            #{password},
            #{salt},
            #{picture},
            #{phone},
            #{sex},
            #{messageStatus},
            #{department},
            #{workNumber},
            #{loginFlag},
            #{loginIp},
            #{loginAddress},
            #{provinceId},
            #{cityId},
            #{areaId},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{delFlag},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE system_operator SET
            login_name = #{loginName},
            nickname = #{nickname},
            password = #{password},
            salt = #{salt},
            picture = #{picture},
            phone = #{phone},
            sex = #{sex},
            message_status = #{messageStatus},
            department = #{department},
            work_number = #{workNumber},
            login_flag = #{loginFlag},
            login_ip = #{loginIp},
            login_address = #{loginAddress},
            province_id = #{provinceId},
            city_id = #{cityId},
            area_id = #{areaId},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            del_flag = #{delFlag},
            remarks = #{remarks}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_operator SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE system_operator SET del_flag = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_operator
        WHERE id=#{id}
    </delete>
</mapper>