<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.system.OperatorMapper">
    <sql id="operatorColumns">
        a.id AS "id",
        a.phone AS "phone",
        a.password AS "password",
        a.header AS "header",
        a.nickname AS "nickname",
        a.sex AS "sex",
        a.member AS "member",
        a.integral AS "integral",
        a.health_beans AS "healthBeans",
        a.collect_number AS "collectNumber",
        a.sigin_in_time AS "signInTime",
        a.message_status AS "messageStatus",
        a.user_agreement AS "userAgreement",
        a.is_deleted AS "isDelete",
        a.salt AS "salt",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>

    <sql id="operatorJoins">
        LEFT JOIN recruit_operator_role b ON a.id=b.operator_id
        LEFT JOIN recruit_system_role c ON b.role_id=c.id
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        WHERE id=#{id}
    </select>

    <select id="getOperatorByName" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        WHERE nickname=#{nickname}
    </select>

    <!--根据用户和角色查询是否有operator-role数据-->
    <select id="getOperatorRole" resultType="com.littlebuddha.bobogou.modules.entity.system.OperatorRole">
        SELECT
        id AS "id",
        operator_id AS "operator.id",
        role_id AS "role.id"
        FROM recruit_operator_role a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="operator != null and operator.id != null and operator.id != ''">
                and a.operator_id = #{operator.id}
            </if>
            <if test="role != null and role.id != null and role.id != ''">
                and a.role_id = #{role.id}
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <!--<if test="username != null and username != ''">
                and a.username = #{username}
            </if>
            <if test="sex != null and sex != ''">
                and a.sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                and a.age = #{age}
            </if>
            <if test="address != null and address != ''">
                and a.address = #{address}
            </if>
            <if test="phone != null and address != ''">
                and a.phone = #{phone}
            </if>-->
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                /*ORDER BY ${orderBy}*/
            </when>
            <otherwise>
                /*ORDER BY a.create_date DESC*/
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.is_deleted = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <if test="username != null and username != ''">
                and a.username = #{username}
            </if>
            <if test="sex != null and sex != ''">
                and a.sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                and a.age = #{age}
            </if>
            <if test="address != null and address != ''">
                and a.address = #{address}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.bobogou.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO system_operator(
            id,
            phone,
            password,
            header,
            nickname,
            sex,
            member,
            integral,
            health_beans,
            collect_number,
            sigin_in_time,
            message_status,
            user_agreement,
            is_deleted,
            salt,
            create_time,
            update_time
        )VALUES (
            #{id},
            #{phone},
            #{password},
            #{header},
            #{nickname},
            #{sex},
            #{member},
            #{integral},
            #{healthBeans},
            #{collectNumber},
            #{signInTime},
            #{messageStatus},
            #{userAgreement},
            #{isDelete},
            #{salt},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE system_operator SET
            phone = #{phone},
            password = #{password},
            header = #{header},
            nickname = #{nickname},
            sex = #{sex},
            member = #{member},
            integral = #{integral},
            health_beans = #{healthBeans},
            collect_number = #{collectNumber},
            sigin_in_time = #{signInTime},
            message_status = #{messageStatus},
            user_agreement = #{userAgreement},
            is_deleted = #{isDelete},
            salt = #{salt},
            create_time = #{createTime},
            update_time = #{updateTime}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_operator SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE system_operator SET del_flag = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_operator
        WHERE id=#{id}
    </delete>
</mapper>