<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户基本资料管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="operatorForm">
        <input type="hidden" name="id" th:value="${operator.getId()}" id="id">
        <input type="hidden" th:id="userId" name="userId" th:value="${operator.getUserId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="loginName">登录名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" th:value="${operator.getLoginName()}"
                           th:id="loginName" autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="nickname">昵称</label>
                <div class="layui-input-inline">
                    <input type="nickname" name="nickname" th:value="${operator.getNickname()}" autocomplete="off"
                           th:id="nickname" class="layui-input required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="password">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" th:value="${operator.getPassword()}" autocomplete="off"
                           th:id="password" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="phone">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" th:value="${operator.getPhone()}" autocomplete="off"
                           th:id="phone" class="layui-input mobile">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="picture">头像</label>
            <div class="layui-upload-drag">
                <!--<i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>-->
                <div class="" th:id="upload">
                    <hr>
                    <img th:if="${operator.getPicture() == null}" alt="未设置头像" style="max-width: 196px">
                    <img th:if="${operator.getPicture() != null}" th:src="${operator.getPicture()}" alt="111" style="max-width: 196px">
                </div>
                <input type="hidden" id="picture" name="picture">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="sex">性别</label>
                <div class="layui-input-inline">
                    <select name="sex" lay-verify="" th:with="sex=${@dictData.findByType('system_operator_sex')}">
                        <option th:each="dict:${sex}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${operator.getSex()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="messageStatus">消息状态</label>
                <div class="layui-input-inline">
                <select name="messageStatus" lay-verify="" th:with="messageStatus=${@dictData.findByType('system_operator_message_status')}">
                    <option th:each="dict:${messageStatus}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                            th:selected="${dict.getValue()}==${operator.getMessageStatus()}"/>
                </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="workNumber">工号</label>
                <div class="layui-input-inline">
                    <input type="text" name="workNumber" th:value="${operator.getWorkNumber()}" autocomplete="off"
                           th:id="workNumber" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="loginFlag">登录标识</label>
                <div class="layui-input-inline">
                <select name="loginFlag" lay-verify="" th:with="loginFlag=${@dictData.findByType('system_operator_login_flag')}">
                    <option th:each="dict:${loginFlag}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                            th:selected="${dict.getValue()}==${operator.getLoginFlag()}"/>
                </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="provinceId">省</label>
                <div class="layui-input-inline">
                    <select name="provinceId" lay-verify="" lay-filter="province"
                            th:id="provinceId" th:with="province=${@province.findToDictUse()}">
                        <option th:each="dict:${province}" th:value="${dict.getId()}" th:text="${dict.getName()}"
                                th:selected="${dict.getId()}==${operator.getProvinceId()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">市</label>
                <div class="layui-input-inline">
                    <select name="cityId" lay-verify="" lay-filter="city" th:id="city">
                        <option th:if="${operator.getCity() != null}" th:value="${operator.getCityId()}"
                                th:text="${operator.getCity().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">区</label>
                <div class="layui-input-inline">
                    <select name="areaId" lay-verify="" lay-filter="area" th:id="area">
                        <option th:if="${operator.getArea() != null}" th:value="${operator.areaId}"
                                th:text="${operator.getArea().getName()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="areaManager">管理员等级</label>
                <div class="layui-input-inline">
                    <select name="areaManager" lay-verify="" lay-filter=""
                            th:id="areaManager" th:with="areaManager=${@dictData.findByType('system_operator_area_manager')}">
                        <option th:each="dict:${areaManager}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${operator.getAreaManager()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline" th:id="status">
                <label class="layui-form-label" for="status">状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="" lay-filter=""
                            th:id="status" th:with="status=${@dictData.findByType('system_operator_login_flag')}">
                        <option th:each="dict:${status}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${operator.getStatus()}"/>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
<!--在表单验证基础上添加的自定义验证js-->
<script type="text/javascript" src="/bobogou/utils/formVerification.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/modules/system/basicInfoForm.js"></script>
</body>
</html>