<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <form class="layui-form" id="menuForm">
        <input type="hidden" name="id" th:value="${menu.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-inline">
                    <select name="parent.id" id="parent.id" lay-verify="">
                        <option th:value="${menu.getParent().getId()}"
                                th:text="${menu.getParent().getTitle()}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">菜单名</label>
                <div class="layui-input-inline">
                    <input type="title" id="title" th:name="title" th:value="${menu.getTitle()}"
                           placeholder="菜单名" lay-verify="required|title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-inline">
                    <input type="href" id="href" th:name="href" th:value="${menu.getHref()}"
                           placeholder="链接" lay-verify="required|href" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">目标</label>
                <div class="layui-input-inline">
                    <input type="target" id="target" th:name="target" th:value="${menu.getTarget()}"
                           placeholder="目标" lay-verify="required|target" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-inline">
                    <input type="icon" id="icon" th:name="icon" th:value="${menu.getIcon()}"
                           placeholder="图标" lay-verify="required|icon" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-inline">
                    <select name="isShow" id="isShow" lay-verify="" th:if="${mode == 'add' || mode == 'addChildren'}">
                        <option th:value="1" th:text="显示"></option>
                        <option th:value="0" th:text="不显示"></option>
                    </select>
                    <select name="isShow" id="isShow" lay-verify="" th:if="${mode != 'add' && mode != 'addChildren'}">
                        <option th:if="${1 == menu.isShow}" th:value="1" th:text="显示"></option>
                        <option th:if="${1 == menu.isShow}" th:value="0" th:text="不显示"></option>
                        <option th:if="${0 == menu.isShow}" th:value="0" th:text="不显示"></option>
                        <option th:if="${0 == menu.isShow}" th:value="1" th:text="显示"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="type" lay-verify="" th:if="${mode == 'add' || mode == 'addChildren'}">
                        <option th:value="0" th:text="菜单"></option>
                        <option th:value="1" th:text="按钮"></option>
                    </select>
                    <select name="type" id="type" lay-verify="" th:if="${mode != 'add' && mode != 'addChildren'}">
                        <option th:if="${0 == menu.type}" th:value="0" th:text="菜单"></option>
                        <option th:if="${0 == menu.type}" th:value="1" th:text="按钮"></option>
                        <option th:if="${1 == menu.type}" th:value="1" th:text="按钮"></option>
                        <option th:if="${1 == menu.type}" th:value="0" th:text="菜单"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">权限标识</label>
                <div class="layui-input-inline">
                    <input type="permission" id="address" th:name="permission" th:value="${menu.getPermission()}"
                           placeholder="权限标识" lay-verify="required|permission" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
<script type="text/javascript">
    //保存方法
    function save() {
        $.ajax({
            url: "/bobogou/system/menu/save",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: $("#menuForm").serialize(),    //参数值
            type: "POST",   //请求方式
            success: function (result) {
                if('200' == result.code){
                    //请求成功时处理
                    // 刷新整个父窗口
                    parent.refresh();
                    //假设这是iframe页
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }else {
                    //假设这是iframe页
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    rc.alert(result.msg)
                }
            }
        });
    }
</script>
</body>
</html>