<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户区域管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bobogou/utils/vendor.js"></script>
</head>
<body>
<div>
    <form class="layui-form" id="operatorRegionForm">
        <input type="hidden" name="id" th:value="${operatorRegion.getId()}" id="id">
        <input type="hidden" name="userId" th:value="${operatorRegion.getUserId()}" id="userId">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="operatorId">后台用户</label>
                <div class="layui-input-inline">
                    <input type="text" th:id="operatorId" th:value="${operatorRegion.getOperatorName()}" autocomplete="off" class="layui-input required" readonly onclick="selectOperator('operatorId')">
                    <input type="hidden" th:id="operatorValue" th:name="operatorId" th:value="${operatorRegion.getOperatorId()}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="type">类型</label>
                <div class="layui-input-inline">
                    <select name="type" th:id="type" lay-verify="" lay-filter="type">
                        <option th:each="type:${typeList}" th:value="${type.getValue()}" th:text="${type.getName()}"
                                th:selected="${type.getValue()} == ${operatorRegion.getType()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="province">省</label>
                <div class="layui-input-inline">
                    <select name="provinceId" lay-verify="required" th:if="${mode == 'add'}" lay-filter="province"
                            th:id="province" class="required">
                        <option th:text="请选择" th:value="0"/>
                        <option th:each="province:${provinceList}" th:value="${province.getId()}"
                                th:text="${province.getName()}"/>
                    </select>
                    <select name="provinceId" lay-verify="required" th:if="${mode != 'add'}" lay-filter="province"
                            th:id="province" class="required">
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() == operatorRegion.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                        <option th:each="province:${provinceList}"
                                th:if="${province.getId() != operatorRegion.getProvinceId()}"
                                th:value="${province.getId()}" th:text="${province.getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="cityId">市</label>
                <div class="layui-input-inline">
                    <select name="cityId" lay-verify="required" lay-filter="city" th:id="city">
                        <option th:if="${operatorRegion.getCity() != null}" th:value="${operatorRegion.getCityId()}"
                                th:text="${operatorRegion.getCity().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="areaId">区</label>
                <div class="layui-input-inline">
                    <select name="areaId" lay-verify="required" lay-filter="area" th:id="area">
                        <option th:if="${operatorRegion.getArea() != null}" th:value="${operatorRegion.getAreaId()}"
                                th:text="${operatorRegion.getArea().getName()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="streetId">街道</label>
                <div class="layui-input-inline">
                    <textarea th:id="streetId" th:text="${operatorRegion.getStreetName()}"
                              placeholder="街道" class="layui-textarea required" onclick="selectStreet('streetId')" readonly></textarea>
                    <input type="hidden" th:id="street" th:name="streetId" th:value="${operatorRegion.getStreetId()}" autocomplete="off" class="layui-input required" readonly>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/modules/system/operatorRegionForm.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>