<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.other.CustomerServiceMapper">
    <sql id="customerServiceColumns">
        id AS "id",
        user_id AS "userId",
        account_id AS "accountId",
        content AS "content",
        type AS "type",
        statu AS "statu",
        create_time AS "createTime",
        update_time AS "updateTime"
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerService">
        SELECT
        <include refid="customerServiceColumns"/>
        FROM ud_chat a
        WHERE id=#{id}
    </select>

    <select id="getNoReadChat" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerService">
        SELECT
            user_id AS "userId",
            count(1) AS "noReadCount"
        FROM ud_chat a
        WHERE account_id =  #{accountId}
        GROUP BY user_id,statu
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerService">
        SELECT
        <include refid="customerServiceColumns"/>
        FROM ud_chat a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <!--<if test="name != null and name != ''">
                and a.name = #{name}
            </if>-->
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ud_chat(
            user_id,
            account_id,
            content,
            type,
            statu,
            create_time,
            update_time
        )VALUES (
            #{user_id},
            #{account_id},
            #{content},
            #{type},
            #{statu},
            #{create_time},
            #{update_time}
        )
    </insert>
</mapper>