<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.other.CustomerUserMapper">
    <sql id="customerUserColumns">
        a.id AS "id",
        a.phone AS "phone",
        a.pssword AS "password",
        a.header AS "header",
        a.nickname AS "nickname",
        a.sex AS "sex",
        a.member AS "member",
        a.integral AS "integral",
        a.health_beans AS "healthBeans",
        a.collect_number AS "collectNumber",
        a.sigin_in_time AS "signInTime",
        a.purchase_amount AS "purchaseAmount",
        a.message_status AS "messageStatus",
        a.user_agreement AS "userAgreement",
        a.apply_status AS "applyStatus",
        a.vip_expire AS "vipExpire",
        a.area_manager AS "areaManager",
        a.profit_amount AS "profitAmount",
        a.amount_withdrawn AS "amountWithdrawn",
        a.withdrawal_amount AS "withdrawalAmount",
        a.operator AS "operatorId",
        a.next_role AS "nextRole",
        a.status AS "status",
        a.is_deleted AS "isDeleted",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>

    <sql id="customerUserNoColumns">
        a.id AS "id",
        a.phone AS "phone",
        a.pssword AS "password",
        a.header AS "header",
        a.nickname AS "nickname",
        a.sex AS "sex",
        a.member AS "member",
        a.integral AS "integral",
        a.health_beans AS "healthBeans",
        a.collect_number AS "collectNumber",
        a.sigin_in_time AS "signInTime",
        a.purchase_amount AS "purchaseAmount",
        a.message_status AS "messageStatus",
        a.user_agreement AS "userAgreement",
        a.apply_status AS "applyStatus",
        a.vip_expire AS "vipExpire",
        a.area_manager AS "areaManager",
        a.profit_amount AS "profitAmount",
        a.amount_withdrawn AS "amountWithdrawn",
        a.withdrawal_amount AS "withdrawalAmount",
        a.operator AS "operatorId",
        a.next_role AS "nextRole",
        a.status AS "status",
        a.is_deleted AS "isDeleted",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>

    <sql id="customerUserJoins">
        LEFT JOIN ud_user_member b ON a.id = b.user_id
    </sql>

    <sql id="currentUserJoins">
        LEFT JOIN system_operator_role b ON a.operator = b.operator_id
        LEFT JOIN system_role c ON b.role_id = c.id
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        WHERE a.id=#{id}
    </select>

    <select id="getByPhone" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserNoColumns"/>
        FROM ud_user a
        WHERE
        a.is_deleted = #{DEL_FLAG_NORMAL}
        AND a.phone = #{phone}
    </select>

    <select id="getByOperator" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserNoColumns"/>
        FROM ud_user a
        WHERE
        a.is_deleted = #{DEL_FLAG_NORMAL}
        AND a.operator = #{operatorId}
    </select>

    <!--根据当前人返回其地区下的所有用户-->
    <select id="findListData" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <include refid="customerUserJoins"/>
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <if test="phone != null and phone != ''">
                AND a.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND a.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <choose>
                <when test='currentUser.areaManager != null and currentUser.areaManager != "4" and currentUser.areaManager != "5"'>
                    <if test="provinceIds != null and provinceIds != ''">
                        AND #{provinceIds} LIKE concat('%',b.province_id,'%')
                    </if>
                    <if test="cityIds != null and cityIds != ''">
                        AND #{cityIds} LIKE concat('%',b.city_id,'%')
                    </if>
                    <if test="areaIds != null and areaIds != ''">
                        AND #{areaIds} LIKE concat('%',b.district_id,'%')
                    </if>
                    <if test="streetIds != null and streetIds != ''">
                        AND #{streetIds} LIKE concat('%',b.street_id,'%')
                    </if>
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <include refid="customerUserJoins"/>
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <if test="phone != null and phone != ''">
                AND a.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="password != null and password != ''">
                AND a.pssword LIKE concat('%',#{password},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND a.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <if test="sex != null">
                AND a.sex = #{sex}
            </if>
            <if test="member != null">
                AND a.member = #{member}
            </if>
            <if test="integral != null">
                AND a.integral = #{integral}
            </if>
            <if test="healthBeans != null">
                AND a.health_beans = #{healthBeans}
            </if>
            <if test="signInTime != null">
                AND a.signInTime = #{signInTime}
            </if>
            <if test="messageStatus != null">
                AND a.message_status = #{messageStatus}
            </if>
            <if test="userAgreement != null">
                and a.user_agreement = #{userAgreement}
            </if>
            <if test="applyStatus != null">
                and a.apply_status = #{applyStatus}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!--当areaManager不是区级时查询代办审核数据-->
    <select id="getToDoList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            AND a.apply_status = '1'
            <if test='currentUser.id != "1" and currentUser.areaManager != null'><!--如果不是管理员则查询自己及下级角色数据-->
                AND a.next_role = #{currentUserRole.id}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!--当areaManager是区级时查询代办审核数据-->
    <select id="getVipApplyForAreaManager" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <include refid="customerUserJoins"/>
        <where>
            a.is_deleted = 0
            AND b.status = '0'
            <if test="provinceIds != null and provinceIds != ''">
                AND #{provinceIds} LIKE concat('%',b.province_id,'%')
            </if>
            <if test="cityIds != null and cityIds != ''">
                AND #{cityIds} LIKE concat('%',b.city_id,'%')
            </if>
            <if test="areaIds != null and areaIds != ''">
                AND #{areaIds} LIKE concat('%',b.district_id,'%')
            </if>
            <if test="streetIds != null and streetIds != ''">
                AND #{streetIds} LIKE concat('%',b.street_id,'%')
            </if>
        </where>
        <choose>
            <!--<when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>-->
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ud_user(
            phone,
            pssword,
            header,
            nickname,
            sex,
            member,
            integral,
            health_beans,
            collect_number,
            sigin_in_time,
            purchase_amount,
            message_status,
            user_agreement,
            apply_status,
            vip_expire,
            area_manager,
            profit_amount,
            amount_withdrawn,
            withdrawal_amount,
            operator,
            next_role,
            status,
            is_deleted,
            create_time,
            update_time
        )VALUES (
            #{phone},
            #{password},
            #{header},
            #{nickname},
            #{sex},
            #{member},
            #{integral},
            #{healthBeans},
            #{collectNumber},
            #{signInTime},
            #{purchaseAmount},
            #{messageStatus},
            #{userAgreement},
            #{applyStatus},
            #{vipExpire},
            #{areaManager},
            #{profitAmount},
            #{amountWithdrawn},
            #{withdrawalAmount},
            #{operatorId},
            #{nextRole},
            #{status},
            #{isDeleted},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE ud_user SET
            phone = #{phone},
            pssword = #{password},
            header = #{header},
            nickname = #{nickname},
            sex = #{sex},
            member = #{member},
            integral = #{integral},
            health_beans = #{healthBeans},
            collect_number = #{collectNumber},
            sigin_in_time = #{signInTime},
            purchase_amount = #{purchaseAmount},
            message_status = #{messageStatus},
            user_agreement = #{userAgreement},
            apply_status = #{applyStatus},
            vip_expire = #{vipExpire},
            area_manager = #{areaManager},
            profit_amount = #{profitAmount},
            amount_withdrawn = #{amountWithdrawn},
            withdrawal_amount = #{withdrawalAmount},
            operator = #{operatorId},
            next_role = #{nextRole},
            status = #{status},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime}
        WHERE id=#{id}
    </update>

    <update id="beVip">
        UPDATE ud_user SET
            member = #{member},
            apply_status = #{applyStatus},
            vip_expire = #{vipExpire},
            next_role = #{nextRole}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE ud_user SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE ud_user SET is_deleted = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM ud_user
        WHERE id=#{id}
    </delete>
</mapper>