<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.other.CustomerUserMapper">
    <sql id="customerUserColumns">
        a.id AS "id",
        a.phone AS "phone",
        a.pssword AS "password",
        a.header AS "header",
        a.nickname AS "nickname",
        a.sex AS "sex",
        a.member AS "member",
        a.integral AS "integral",
        a.health_beans AS "healthBeans",
        a.collect_number AS "collectNumber",
        a.sigin_in_time AS "signInTime",
        a.message_status AS "messageStatus",
        a.user_agreement AS "userAgreement",
        a.is_deleted AS "isDeleted",
        a.create_time AS "createTime",
        a.update_time AS "updateTime"
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <if test="phone != null and phone != ''">
                a.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="password != null and password != ''">
                a.pssword LIKE concat('%',#{password},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                a.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <if test="sex != null">
                and a.sex = #{sex}
            </if>
            <if test="member != null">
                and a.member = #{member}
            </if>
            <if test="integral != null">
                and a.integral = #{integral}
            </if>
            <if test="healthBeans != null">
                and a.health_beans = #{healthBeans}
            </if>
            <if test="collectNumber != null">
                and a.collect_number = #{collectNumber}
            </if>
            <if test="signInTime != null">
                and a.signInTime = #{signInTime}
            </if>
            <!--<if test="beginDate !=null and beginDate !='' and endDate !=null and endDate !='' " >
                and a.create_date between #{beginDate} and #{endDate}
            </if>-->
            <if test="messageStatus != null">
                and a.message_status = #{messageStatus}
            </if>
            <if test="userAgreement != null">
                and a.user_agreement = #{userAgreement}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.bobogou.modules.entity.other.CustomerUser">
        SELECT
        <include refid="customerUserColumns"/>
        FROM ud_user a
        <where>
            a.is_deleted = #{DEL_FLAG_DELETE}

            <if test="phone != null and phone != ''">
                a.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="password != null and password != ''">
                a.pssword LIKE concat('%',#{password},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                a.nickname LIKE concat('%',#{nickname},'%')
            </if>
            <if test="sex != null">
                and a.sex = #{sex}
            </if>
            <if test="member != null">
                and a.member = #{member}
            </if>
            <if test="integral != null">
                and a.integral = #{integral}
            </if>
            <if test="healthBeans != null">
                and a.health_beans = #{healthBeans}
            </if>
            <if test="collectNumber != null">
                and a.collect_number = #{collectNumber}
            </if>
            <if test="signInTime != null">
                and a.signInTime = #{signInTime}
            </if>
            <!--<if test="beginDate !=null and beginDate !='' and endDate !=null and endDate !='' " >
                and a.create_date between #{beginDate} and #{endDate}
            </if>-->
            <if test="messageStatus != null">
                and a.message_status = #{messageStatus}
            </if>
            <if test="userAgreement != null">
                and a.user_agreement = #{userAgreement}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ud_user(
            phone,
            pssword,
            header,
            nickname,
            sex,
            member,
            integral,
            health_beans,
            collect_number,
            sigin_in_time,
            message_status,
            user_agreement,
            is_deleted,
            create_time,
            update_time
        )VALUES (
            #{phone},
            #{password},
            #{header},
            #{nickname},
            #{sex},
            #{member},
            #{integral},
            #{healthBeans},
            #{collectNumber},
            #{signInTime},
            #{messageStatus},
            #{userAgreement},
            #{isDeleted},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE ud_user SET
            phone = #{phone},
            pssword = #{password},
            header = #{header},
            nickname = #{nickname},
            sex = #{sex},
            member = #{member},
            integral = #{integral},
            health_beans = #{healthBeans},
            collect_number = #{collectNumber},
            sigin_in_time = #{signInTime},
            message_status = #{messageStatus},
            user_agreement = #{userAgreement},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE ud_user SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE ud_user SET is_deleted = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM ud_user
        WHERE id=#{id}
    </delete>
</mapper>