<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.bobogou.modules.mapper.other.IntegralMapper">
    <sql id="integralColumns">
        id AS "id",
        integral AS "integral",
        day AS "day",
        is_deleted AS "isDeleted",
        create_time AS "createTime",
        update_time AS "updateTime",
        account_id AS "accountId"
    </sql>

    <select id="get" resultType="com.littlebuddha.bobogou.modules.entity.other.Integral">
        SELECT
        <include refid="integralColumns"/>
        FROM db_integral a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.bobogou.modules.entity.other.Integral">
        SELECT
        <include refid="integralColumns"/>
        FROM db_integral a
        <where>
            a.is_deleted = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="integral != null">
                AND a.integral = #{integral}
            </if>
            <if test="day != null">
                AND a.day = #{day}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.bobogou.modules.entity.other.Integral">
        SELECT
        <include refid="integralColumns"/>
        FROM db_integral a
        <where>
            a.is_deleted = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <if test="integral != null">
                AND a.integral = #{integral}
            </if>
            <if test="day != null">
                AND a.day = #{day}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_integral(
            integral,
            day,
            is_deleted,
            create_time,
            update_time,
            account_id
        )VALUES (
            #{integral},
            #{day},
            #{isDeleted},
            #{createTime},
            #{updateTime},
            #{accountId}
        )
    </insert>

    <update id="update">
        UPDATE db_integral SET
            integral = #{integral},
            day = #{day},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
            account_id = #{accountId}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE db_integral SET is_deleted = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE db_integral SET is_deleted = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM db_integral
        WHERE id=#{id}
    </delete>
</mapper>