<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>合同上传管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <!--markdown富文本编辑-->
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.css"/>
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.preview.css"/>
</head>
<body>
<div>
    <form class="layui-form" id="contractForm">
        <input type="hidden" name="id" id="id" th:value="${contract.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="name">合同名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" th:value="${contract.getName()}"
                           th:id="contract" autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="" lay-filter="type"
                            th:id="type" th:with="type=${@dictData.findByType('basic_contract_type')}">
                        <option th:each="dict:${type}" th:value="${dict.getValue()}" th:text="${dict.getName()}"
                                th:selected="${dict.getValue()}==${contract.getType()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同文件</label>
            <div class="layui-upload-drag" id="test10">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="" id="uploadDemoView">
                    <hr>
                    <input type="text" th:id="name" th:value="${contract.getName()}" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <input type="hidden" th:id="address" th:name="address" th:value="${contract.getAddress()}">
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="备注" class="layui-textarea" th:name="remarks"></textarea>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--markdown富文本编辑js-->
<script src="/bobogou/plugins/markdown/js/editormd.js"></script>
<script src="/bobogou/plugins/markdown/lib/marked.min.js"></script>
<script src="/bobogou/plugins/markdown/lib/prettify.min.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/basic/contractForm.js"></script>
</body>
</html>