<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>合同管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <!--markdown富文本编辑-->
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.css"/>
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.preview.css"/>
</head>
<body>
<div>
    <form class="layui-form" id="agreementForm">
        <input type="hidden" name="id" id="id" th:value="${contract.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">合同名称</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同文件</label>
            <div class="layui-upload-drag" id="test10">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadDemoView">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--markdown富文本编辑js-->
<script src="/bobogou/plugins/markdown/js/editormd.js"></script>
<script src="/bobogou/plugins/markdown/lib/marked.min.js"></script>
<script src="/bobogou/plugins/markdown/lib/prettify.min.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/basic/contractForm.js"></script>
</body>
</html>