<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>合同签署管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <!--markdown富文本编辑-->
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.css"/>
    <link rel="stylesheet" href="/bobogou/plugins/markdown/css/editormd.preview.css"/>
</head>
<body>
<div>
    <form class="layui-form" id="signContractForm">
        <input type="hidden" name="id" id="id" th:value="${signContract.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="partAName">甲方</label>
                <div class="layui-input-inline">
                    <input type="text" name="partAName" th:value="${signContract.getPartAName()}"
                           th:id="partAName" autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="partBName">乙方</label>
                <div class="layui-input-inline">
                    <input type="text" name="partBName" th:value="${signContract.getPartBName()}"
                           th:id="partBName" autocomplete="off" class="layui-input required">
                </div>
            </div>
        </div>
        <div class="layui-form-item" th:id="uploadDemoView1" th:if="${signContract.getFrontIdCard() != null && signContract.getFrontIdCard() != ''}">
            <label class="layui-form-label" for="frontIdCard">身份证正面照</label>
            <div class="layui-upload-drag" th:id="test1">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="" th:id="uploadDemoView1">
                    <hr>
                    <img th:src="${signContract.getFrontIdCard()}" alt="上传成功后渲染" style="max-width: 196px">
                    <img th:if="${signContract.getFrontIdCard() == null || signContract.getFrontIdCard() == ''}" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
            <input type="hidden" th:id="frontIdCard" th:name="frontIdCard" th:value="${signContract.getFrontIdCard()}">
        </div>
        <div class="layui-form-item" th:id="uploadDemoView1" th:if="${signContract.getFrontIdCard() == null || signContract.getFrontIdCard() == ''}" >
            <label class="layui-form-label" for="frontIdCard">身份证正面照</label>
            <div class="layui-upload-drag" th:id="test1">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide">
                    <hr>
                    <img alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
            <input type="hidden" th:id="frontIdCard" th:name="frontIdCard" th:value="${signContract.getFrontIdCard()}">
        </div>
        <div class="layui-form-item" th:id="uploadDemoView2" th:if="${signContract.getBackIdCard() != null && signContract.getBackIdCard() != ''}">
            <label class="layui-form-label" for="backIdCard">身份证反面照</label>
            <div class="layui-upload-drag" th:id="test2">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="" th:id="uploadDemoView2">
                    <hr>
                    <img th:src="${signContract.getBackIdCard()}" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
            <input type="hidden" th:id="backIdCard" th:name="backIdCard" th:value="${signContract.getBackIdCard()}">
        </div>
        <div class="layui-form-item" th:id="uploadDemoView2" th:if="${signContract.getBackIdCard() == null || signContract.getBackIdCard() == ''}">
            <label class="layui-form-label" for="backIdCard">身份证反面照</label>
            <div class="layui-upload-drag" th:id="test2">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" >
                    <hr>
                    <img alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
            <input type="hidden" th:id="backIdCard" th:name="backIdCard" th:value="${signContract.getBackIdCard()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="qualification">资质文件</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test3">资质文件</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test3">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" th:id="demo3">
                        <img th:if="${signContract.getQualification() != null && signContract.getQualification() != ''}"
                             th:each="image:${signContract.getQualification().split(',')}"
                             th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="qualification" th:name="qualification" th:value="${signContract.getQualification()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="contract">合同文件</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test4">合同文件</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test4">清空多图</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" th:id="demo4">
                        <img th:if="${signContract.getContract() != null && signContract.getContract() != ''}"
                             th:each="image:${signContract.getContract().split(',')}"
                             th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="contract" th:name="contract" th:value="${signContract.getContract()}">
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="备注" class="layui-textarea" th:name="remarks" th:text="${signContract.getRemarks()}"></textarea>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--markdown富文本编辑js-->
<script src="/bobogou/plugins/markdown/js/editormd.js"></script>
<script src="/bobogou/plugins/markdown/lib/marked.min.js"></script>
<script src="/bobogou/plugins/markdown/lib/prettify.min.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/basic/signContractForm.js"></script>
</body>
</html>