<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet"> -->
    <link rel="stylesheet" href="/bobogou/plugins/chat/css/reset.min.css">
    <link rel="stylesheet" href="/bobogou/plugins/chat/css/style.css">
    <link rel="stylesheet" href="/bobogou/plugins/chat/css/index.css">
    <script type="text/javascript" src="/bobogou/plugins/chat/js/jquery.min.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search"/>
                <a href="javascript:;" class="search"></a>
            </div>
            <label class="drop titlebar" for="_3">未读消息( <span id="noReadChatNum"></span> )</label>
            <input id="_3" type="checkbox">
            <div>
                <ul id="noReadChat" class="people">
                </ul>
            </div>


            <label class="drop titlebar" for="_1">正在聊天( <span id="chattingNum"></span> )</label>
            <input id="_1" type="checkbox">
            <div>
                <ul id="chatting" class="people">
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name" id='toUserName'></span></span>
                <input type="hidden" id="rid"></div>

            <div class="chat" id="msgs" data-chat="person2">
                <div class="conversation-start">
                    <span>Today, 5:38 PM</span>
                </div>
            </div>

            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input type="text" id="msg"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send" onclick="sendMsg()"></a>
            </div>
        </div>
    </div>
</div>

<script src="/bobogou/plugins/chat/js/index.js"></script>

<div style="text-align:center;margin:1px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>

<script type="text/javascript">
    var baseIp = "localhost"
    var basePort = "8887"

    var sid, rid, ws
    var userInfo = localStorage.getItem("userInfo");
    if ("" != userInfo && null != userInfo) {
        //用户信息存在，建立连接
        userInfo = JSON.parse(userInfo)
        console.log(userInfo)
        var userId = userInfo["id"]
        var userName = userInfo["userName"];
        sid = userId;
        $("#userName").text(userName);

        //WebSocket建立连接
        ws = new WebSocket("ws://"+ baseIp + ":"+8578+"/imserver/" + userId)
        ws.onopen = function(evt) {
            // msgData = {
            //  toUserId:2,
            //  message: "你好啊，嘿嘿嘿"
            // }
            // msgData = JSON.stringify(msgData);
            // ws.send(msgData)

            loadFriends(userId)
            loadUnFriends(userId)
            loadNewFriends(userId)
        };

        ws.onmessage = function(evt) {
            if (evt.data != "连接成功") {
                console.log("Received Message: " + evt.data);
                var data = JSON.parse(evt.data);
                var message = data.message;
                rowStr = '<div class="bubble you">'+message+'</div>'
                $('#msgs').append(rowStr)
            }
        };

        <!--这里为了模拟实时接收服务器的代码 所以把close注释了 -->
        ws.onclose = function(evt) {
            console.log("Connection closed.");
        };

    }

    $(document).ready(function () {
		loadNoReadChat()
    })

    //加载未读信息列表
    function loadNoReadChat(userId) {
        $.ajax({
            url: "http://" + baseIp + ":" + basePort + "/bobogou/other/customerService/noReadChat",
            dataType: "json",
            type: "get",
            success: function (response) {
                console.log(response)
                let data = response;
                $("#noReadChatNum").text(data.length)
                for (var i = 0; i < data.length; i++) {
                    var id = data[i].userId;
                    var userName = data[i].userName;
					var noReadCount = data[i].noReadCount;
                    var rowStr = '<li class="person" onclick="chatWith(\'' + id + '\',\'' + userName + '\')"><img src="/bobogou/plugins/chat/img/dog.png" alt="" /><span class="name">' + userName + '</span><span class="time">' + noReadCount + "条未读" + '</span><span class="preview"></span></li>'
                    $("#noReadChat").append(rowStr)
                }
            },
            error: function (response) {
                console.log(response)

            }
        });
    }

    //加载正在咨询列表
    function loadNewFriends(userId) {
        $.ajax({
            url: "http://" + baseIp + ":" + basePort + "/friend/add/list/" + userId,
            dataType: "json",
            type: "get",
            success: function (response) {
                console.log(response)
                data = response.data;
                $("#newFriendsNum").text(data.length)
                for (var i = 0; i < data.length; i++) {
                    var id = data[i].id;
                    var username = data[i].userName;
                    rowStr = "<li class='person'><span class='name'>" + username + "</span><button id='acceptFriend' class='el-button el-button--success is-round' onclick=handleAddFriend(" + id + ",1)>同意</button><button class='el-button el-button--danger is-round' id='refuseFriend' onclick=handleAddFriend(" + id + ",2)>拒绝</button></li>"
                    $("#newFriends").append(rowStr)
                }
            },
            error: function (response) {
                console.log(response)
            }
        });
    }

    function chatWith(toUserId, username) {
    	$(".time").text("")
        $("#chat_content").prop("hidden", false);
        $('#toUserName').text(username);
        $('#rid').val(toUserId)
        rid = toUserId;

        loadChatMsgs(sid, rid)
    }


    //加载聊天记录
    function loadChatMsgs(sid, rid) {
        $.ajax({
            url: "http://" + baseIp + ":" + basePort + "/message/list?sid=" + sid + "&rid=" + rid,
            dataType: "json",
            type: "get",
            success: function (response) {
                console.log("loadChatMsgs")
                console.log(response)
                data = response.data;
                $('#msgs').empty();
                for (var i = data.length - 1; i > -1; i--) {
                    var content = data[i].content;
                    var receiveUserId = data[i].receiveUserId
                    var sendUserId = data[i].sendUserId
                    var rowStr;
                    if (sendUserId == sid) {
                        rowStr = '<div class="bubble me">' + content + '</div>'
                    } else {
                        rowStr = '<div class="bubble you">' + content + '</div>'
                    }
                    $('#msgs').append(rowStr)
                }

            },
            error: function (response) {
                console.log(response)
            }
        });
    }


    //发送信息
    function sendMsg() {
        var msg = $('#msg').val();
        if (null == msg || "" === msg) {
            alert("发送的消息不能为空")
            return;
        }

        var rowStr = '<div class="bubble me">' + msg + '</div>'
        $('#msgs').append(rowStr)
        $('#msg').val("");

        msgData = {
            toUserId: rid,
            message: msg
        }
        msgData = JSON.stringify(msgData);
        ws.send(msgData)
    }


    document.onkeydown = cdk;

    function cdk() {
        if (event.keyCode == 13) {
            sendMsg()
        }
    }
</script>
</body>
</html>