<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="customerUserForm">
        <input type="hidden" name="id" id="id" th:value="${customerUser.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-upload-drag" name="file">
                <!--<i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>-->
                <div class="" th:if="${customerUser.getHeader() != null && customerUser.getHeader() != ''}">
                    <hr>
                    <img th:src="${customerUser.getHeader()}" alt="未设置头像" style="max-width: 196px">
                </div>
                <div class="" th:if="${customerUser.getHeader() == null || customerUser.getHeader() == ''}">
                    <hr>
                    <img alt="未设置头像" style="max-width: 196px">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="phone">手机号</label>
                <div class="layui-input-inline">
                    <input type="phone" name="phone" th:value="${customerUser.getPhone()}"
                           th:id="phone" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="nickname">昵称</label>
                <div class="layui-input-inline">
                    <input type="nickname" name="nickname" th:value="${customerUser.getNickname()}" autocomplete="off"
                           th:id="nickname" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <select name="sex" lay-verify="" disabled="true" th:with="sex=${@dictData.findByType('user_member_sex')}">
                        <option th:each="dict:${sex}" th:value="${dict.getValue()}" th:text="${dict.getName()}" th:selected="${dict.getValue()}==${customerUser.getSex()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">会员等级</label>
                <div class="layui-input-inline">
                    <select name="member" lay-verify="" disabled="true" th:with="member=${@dictData.findByType('user_member_level')}">
                        <option th:each="dict:${member}" th:value="${dict.getValue()}" th:text="${dict.getName()}" th:selected="${dict.getValue()}==${customerUser.getMember()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="integral">积分</label>
                <div class="layui-input-inline">
                    <input type="text" name="integral" th:value="${customerUser.getIntegral()}" autocomplete="off"
                           th:id="integral" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="healthBeans">健康豆</label>
                <div class="layui-input-inline">
                    <input type="text" name="healthBeans" th:value="${customerUser.getHealthBeans()}" autocomplete="off"
                           th:id="healthBeans" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="signInTime">签到时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="signInTime" th:value="${customerUser.getSignInTime()}" autocomplete="off"
                           th:id="signInTime" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">消息接收状态</label>
                <div class="layui-input-inline">
                    <select name="messageStatus" lay-verify="" disabled="true" th:with="messageStatus=${@dictData.findByType('user_member_message_status')}">
                        <option th:each="dict:${messageStatus}" th:value="${dict.getValue()}" th:text="${dict.getName()}" th:selected="${dict.getValue()}==${customerUser.getMessageStatus()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否同意用户协议</label>
                <div class="layui-input-inline">
                    <select name="userAgreement" lay-verify="" disabled="true" th:with="userAgreement=${@dictData.findByType('user_member_user_agreement')}">
                        <option th:each="dict:${userAgreement}" th:value="${dict.getValue()}" th:text="${dict.getName()}" th:selected="${dict.getValue()}==${customerUser.getUserAgreement()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">会员申请状态</label>
                <div class="layui-input-inline">
                    <select name="applyStatus" lay-verify="" disabled="true" th:with="applyStatus=${@dictData.findByType('user_member_apply_status')}">
                        <option th:each="dict:${applyStatus}" th:value="${dict.getValue()}" th:text="${dict.getName()}" th:selected="${dict.getValue()}==${customerUser.getApplyStatus()}"/>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/other/customerUserForm.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>