<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="customerUserForm">
        <input type="hidden" name="id" id="id" th:value="${customerUser.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="phone" name="phone" th:value="${customerUser.getPhone()}"
                       th:id="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block">
                <input type="header" name="header" th:value="${customerUser.getHeader()}" autocomplete="off"
                       th:id="header" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-upload-drag" id="test10" name="file">
                <div class="" id="upload" th:if="${mode != 'add'}">
                    <hr>
                    <img th:src="${customerUser.getHeader()}" alt="没有设置头像,或者文件位置错误" style="max-width: 196px" th:if="${customerUser.getHeader() != null}">
                    <img th:src="${customerUser.getHeader()}" alt="没有设置头像,或者文件位置错误" style="max-width: 196px" th:if="${customerUser.getHeader() == null}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="nickname" name="nickname" th:value="${customerUser.getNickname()}" autocomplete="off"
                       th:id="nickname" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select name="sex" lay-verify="" th:if="${customerUser.getSex() == null}">
                    <option th:value="0" th:text="未知"/>
                    <option th:value="1" th:text="男"/>
                    <option th:value="2" th:text="女"/>
                </select>
                <select name="sex" lay-verify="" th:if="${customerUser.getSex() == 0}">
                    <option th:value="0" th:text="未知"/>
                    <option th:value="1" th:text="男"/>
                    <option th:value="2" th:text="女"/>
                </select>
                <select name="sex" lay-verify="" th:if="${customerUser.getSex() == 1}">
                    <option th:value="1" th:text="男"/>
                    <option th:value="0" th:text="未知"/>
                    <option th:value="2" th:text="女"/>
                </select>
                <select name="sex" lay-verify="" th:if="${customerUser.getSex() == 2}">
                    <option th:value="2" th:text="女"/>
                    <option th:value="0" th:text="未知"/>
                    <option th:value="1" th:text="男"/>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会员等级</label>
            <div class="layui-input-block">
                <select name="member" lay-verify="" th:if="${customerUser.getMember() == null}">
                    <option th:value="0" th:text="普通会员"/>
                    <option th:value="1" th:text="VIP"/>
                </select>
                <select name="member" lay-verify="" th:if="${customerUser.getMember() == 0}">
                    <option th:value="0" th:text="普通会员"/>
                    <option th:value="1" th:text="VIP"/>
                </select>
                <select name="member" lay-verify="" th:if="${customerUser.getMember() == 1}">
                    <option th:value="1" th:text="VIP"/>
                    <option th:value="0" th:text="普通会员"/>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">积分</label>
            <div class="layui-input-block">
                <input type="text" name="integral" th:value="${customerUser.getIntegral()}" autocomplete="off"
                       th:id="integral" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">健康豆</label>
            <div class="layui-input-block">
                <input type="text" name="healthBeans" th:value="${customerUser.getHealthBeans()}" autocomplete="off"
                       th:id="healthBeans" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收藏数量</label>
            <div class="layui-input-block">
                <input type="text" name="collectNumber" th:value="${customerUser.getCollectNumber()}" autocomplete="off"
                       th:id="collectNumber" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签到时间</label>
            <div class="layui-input-block">
                <input type="text" name="signInTime" th:value="${customerUser.getSignInTime()}" autocomplete="off"
                       th:id="signInTime" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">消息接收状态</label>
            <div class="layui-input-block">
                <select name="messageStatus" lay-verify="" th:if="${customerUser.getMessageStatus() == null}">
                    <option th:value="0" th:text="关闭"/>
                    <option th:value="1" th:text="打开"/>
                </select>
                <select name="messageStatus" lay-verify="" th:if="${customerUser.getMessageStatus() == 0}">
                    <option th:value="0" th:text="关闭"/>
                    <option th:value="1" th:text="打开"/>
                </select>
                <select name="messageStatus" lay-verify="" th:if="${customerUser.getMessageStatus() == 1}">
                    <option th:value="1" th:text="打开"/>
                    <option th:value="0" th:text="关闭"/>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否同意用户协议</label>
            <div class="layui-input-block">
                <select name="userAgreement" lay-verify="" th:if="${customerUser.getUserAgreement() == null}">
                    <option th:value="0" th:text="未同意"/>
                    <option th:value="1" th:text="已同意"/>
                </select>
                <select name="userAgreement" lay-verify="" th:if="${customerUser.getUserAgreement() == 0}">
                    <option th:value="0" th:text="未同意"/>
                    <option th:value="1" th:text="已同意"/>
                </select>
                <select name="userAgreement" lay-verify="" th:if="${customerUser.getUserAgreement() == 1}">
                    <option th:value="1" th:text="已同意"/>
                    <option th:value="0" th:text="未同意"/>
                </select>
            </div>
        </div>

        <div class="layui-form-item" th:if="${mode == 'vip'}">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="pass" th:if="${customerUser.getApplyStatus() == 0}"> 通 过 </button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="refuse" th:if="${customerUser.getApplyStatus() == 0}"> 拒 绝 </button>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/other/customerUserForm.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
</body>
</html>