<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>积分管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="integralForm">
        <input type="hidden" name="id" id="id" th:value="${integral.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label" for="integral">积分</label>
            <div class="layui-input-block">
                <input type="integral" name="integral" th:value="${integral.getIntegral()}"
                       th:id="integral" autocomplete="off" class="layui-input number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="day">天数</label>
            <div class="layui-input-block">
                <input type="day" name="day" th:value="${integral.getDay()}" autocomplete="off"
                       th:id="day" class="layui-input number">
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/other/integralForm.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>