<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>系统消息管理</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="promptMessageForm">
        <input type="hidden" name="id" id="id" th:value="${promptMessage.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="title" name="title" th:value="${promptMessage.getTitle()}"
                       th:id="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">概要信息</label>
            <div class="layui-input-block">
                <input type="outline" name="outline" th:value="${promptMessage.getOutline()}" autocomplete="off"
                       th:id="outline" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="content" th:text="${promptMessage.getContent()}"
                          th:id="content" ></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="" th:if="${promptMessage.getType() == null}">
                    <option th:value="0" th:text="系统消息"/>
                    <option th:value="1" th:text="促销活动消息"/>
                </select>
                <select name="type" lay-verify="" th:if="${promptMessage.getType() == 0}">
                    <option th:value="0" th:text="系统消息"/>
                    <option th:value="1" th:text="促销活动消息"/>
                </select>
                <select name="type" lay-verify="" th:if="${promptMessage.getType() == 1}">
                    <option th:value="1" th:text="促销活动消息"/>
                    <option th:value="0" th:text="系统消息"/>
                </select>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/other/promptMessageForm.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
</body>
</html>