<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户会员资料信息</title>
    <!--layui-->
    <link rel="stylesheet" href="/bobogou/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div>
    <form class="layui-form" id="userMemberForm">
        <input type="hidden" name="id" id="id" th:value="${userMember.getId()}">
        <input type="hidden" name="userId" id="userId" th:value="${userMember.getUserId()}">
        <input type="hidden" id="currentUserAreaManager" th:value="${currentUserAreaManager}">
        <input type="hidden" id="userMember.type" th:value="${userMember.getType()}">
        <input type="hidden" id="member" th:value="${customerUser.getMember()}">
        <input type="hidden" id="applyStatus" th:value="${customerUser.getApplyStatus()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="realName">真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" th:value="${userMember.getRealName()}"
                           th:id="realName" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="phone">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" th:value="${userMember.getPhone()}" autocomplete="off"
                           th:id="phone" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="cardNo">身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" name="cardNo" th:value="${userMember.getCardNo()}" autocomplete="off"
                           th:id="cardNo" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="name">机构名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" th:value="${userMember.getName()}" autocomplete="off"
                           th:id="name" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="shopAddress">店铺地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="shopAddress" th:value="${userMember.getShopAddress()}" autocomplete="off"
                           th:id="shopAddress" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="type">机构类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="" lay-filter="type"
                            th:id="type" disabled="true">
                        <option th:each="type:${typeList}" th:value="${type.getValue()}" th:text="${type.getName()}"
                                th:selected="${type.getValue()}==${userMember.getType()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="province">省</label>
                <div class="layui-input-inline">
                    <input type="text" name="province" th:value="${userMember.getProvince()}" autocomplete="off"
                           th:id="province" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="city">市</label>
                <div class="layui-input-inline">
                    <input type="text" name="city" th:value="${userMember.getCity()}" autocomplete="off"
                           th:id="city" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="district">区</label>
                <div class="layui-input-inline">
                    <input type="text" name="district" th:value="${userMember.getDistrict()}" autocomplete="off"
                           th:id="district" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="street">街道</label>
                <div class="layui-input-inline">
                    <input type="text" name="street" th:value="${userMember.getStreet()}" autocomplete="off"
                           th:id="street" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="realAddress">真实地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="realAddress" th:value="${userMember.getRealAddress()}" autocomplete="off"
                           th:id="realAddress" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="businessLicense">营业执照地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="businessLicense" th:value="${userMember.getBusinessLicense()}" autocomplete="off"
                           th:id="businessLicense" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="beginTime">营业执照有效开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="beginTime" th:value="${userMember.getBeginTime()}" autocomplete="off"
                           th:id="beginTime" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="endTime">营业执照有效结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endTime" th:value="${userMember.getEndTime()}" autocomplete="off"
                           th:id="endTime" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="isEntrust">是否委托</label>
                <div class="layui-input-inline">
                    <select name="isEntrust" lay-verify="" lay-filter="type"
                            th:id="isEntrust" disabled="true">
                        <option th:each="isEntrust:${isEntrustList}" th:value="${isEntrust.getValue()}" th:text="${isEntrust.getName()}"
                                th:selected="${isEntrust.getValue()}==${userMember.getIsEntrust()}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="businessCertificate">经营许可证地址</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test1">经营许可证地址</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test1">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getBusinessCertificate() != null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo1">
                        <img  th:each="image:${userMember.getBusinessCertificate().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getBusinessCertificate() == null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo1">

                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="businessCertificate" th:name="businessCertificate" th:value="${userMember.getBusinessCertificate()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="foodBusinessLicense">食品经营许可证</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test2">食品经营许可证</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test2">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getFoodBusinessLicense() != null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo2">
                        <img  th:each="image:${userMember.getFoodBusinessLicense().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getFoodBusinessLicense() == null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo2">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="foodBusinessLicense" th:name="foodBusinessLicense" th:value="${userMember.getFoodBusinessLicense()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="authorityPurchase">采购委托书地址</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test3">采购委托书地址</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test3">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getAuthorityPurchase() != null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo3">
                        <img  th:each="image:${userMember.getAuthorityPurchase().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getAuthorityPurchase() == null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo3">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="authorityPurchase" th:name="authorityPurchase" th:value="${userMember.getAuthorityPurchase()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="mandatary">被委托人身份证地址</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test4">被委托人身份证地址</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test4">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getMandatary() != null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo4">
                        <img  th:each="image:${userMember.getMandatary().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getMandatary() == null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo4">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="mandatary" th:name="mandatary" th:value="${userMember.getMandatary()}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="groupPhoto">经理人和申请人的合照图片</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" th:id="test5">经理人和申请人的合照图片</button>
                <button type="button" class="layui-btn" th:id="btn_image_clear_test5">清空</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getGroupPhoto() != null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo5">
                        <img  th:each="image:${userMember.getGroupPhoto().split(',')}" th:src="${image}" alt="" style="width: 92px;height: 92px;" class="layui-upload-img">
                    </div>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;"  th:if="${userMember.getGroupPhoto() == null}">
                    预览图：
                    <div class="layui-upload-list" th:id="demo5">
                    </div>
                </blockquote>
            </div>
            <input type="hidden" th:id="groupPhoto" th:name="groupPhoto" th:value="${userMember.getGroupPhoto()}">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="status">审核状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="" lay-filter="type"
                            th:id="status" disabled="true">
                        <option th:each="status:${userMemberStatusList}" th:value="${status.getValue()}" th:text="${status.getName()}"
                                th:selected="${status.getValue()}==${userMember.getStatus()}"/>
                    </select>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager == 4 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="provinceRefuseReason">省级拒绝原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="省级拒绝原因" name="provinceRefuseReason" th:text="${userMember.getProvinceRefuseReason()}" autocomplete="off"
                              th:id="provinceRefuseReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager == 4 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="provincePassReason">省级通过原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="省级通过原因" name="provincePassReason" th:text="${userMember.getProvincePassReason()}" autocomplete="off"
                              th:id="provincePassReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager <= 2 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="cityRefuseReason">市级拒绝原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="市级拒绝原因" name="cityRefuseReason" th:text="${userMember.getCityRefuseReason()}" autocomplete="off"
                              th:id="cityRefuseReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager <= 2 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="cityPassReason">市级通过原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="市级通过原因" name="cityPassReason" th:text="${userMember.getCityPassReason()}" autocomplete="off"
                              th:id="cityPassReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager <= 3 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="districtRefuseReason">区级拒绝原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="区级拒绝原因" name="districtRefuseReason" th:text="${userMember.getDistrictRefuseReason()}" autocomplete="off"
                              th:id="districtRefuseReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline" th:if="${session.currentUser != null && session.currentUser.areaManager <= 3 || session.currentUser.areaManager == 1 || session.currentUser.areaManager == 5}">
                <label class="layui-form-label" for="districtPassReason">区级通过原因</label>
                <div class="layui-input-inline">
                    <textarea placeholder="区级通过原因" name="districtPassReason" th:text="${userMember.getDistrictPassReason()}" autocomplete="off"
                              th:id="districtPassReason" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="vipStatus">vip状态</label>
                <div class="layui-input-inline">
                    <select name="vipStatus" lay-verify="" lay-filter="type"
                            th:id="vipStatus" disabled="true" th:if="${userMember.getVipStatus() == null}">
                        <option th:value="0" th:text="正常"/>
                        <option th:value="1" th:text="过期"/>
                    </select>
                    <select name="vipStatus" lay-verify="" lay-filter="type"
                            th:id="vipStatus" disabled="true" th:if="${userMember.getVipStatus() == 0}">
                        <option th:value="0" th:text="正常"/>
                        <option th:value="1" th:text="过期"/>
                    </select>
                    <select name="vipStatus" lay-verify="" lay-filter="type"
                            th:id="vipStatus" disabled="true" th:if="${userMember.getVipStatus() == 1}">
                        <option th:value="1" th:text="过期"/>
                        <option th:value="0" th:text="正常"/>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="pass"
                        th:if="${customerUser.getApplyStatus() == 1}" style="margin-left: 140px"> 通 过
                </button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="refuse"
                        th:if="${customerUser.getApplyStatus() == 1}"> 拒 绝
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/bobogou/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/bobogou/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<!--引入jquery-->
<script src="/bobogou/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/bobogou/modules/other/userMemberForm.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/bobogou/utils/util.js"></script>
<!--引入表单验证-->
<script src="/bobogou/plugins/jqueryvalidate/dist/jquery.validate.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/additional-methods.min.js"></script>
<script src="/bobogou/plugins/jqueryvalidate/dist/localization/messages_zh.min.js"></script>
</body>
</html>